
<!--Faq-->
<section class="sec-pd sec-bnr-ptsm" id="one">
  <div class="container"> 
    <div class="row">
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="row"> 
          <div class="col-12 col-md-11 offset-md-1"><span class="d-block fnt-14 text-capitalize mb-2 clr-default ms-lg-1">Clients</span>
            <h1 class="fnt-78 fnt-800 mb-3 mb-md-4 pb-md-3 col-md-10 col-lg-8 px-md-0 red-stroke red-stroke--small13 px-md-0">It's more than just business</h1>
            <h2 class="fnt-40 fnt-800 mb-3 mb-md-4 pb-md-3">Our clients are startsups, big brands, NGOs, investors, advisors and everyone who belives design can change the world.</h2>
            <p class="fnt-24">We have helped them in turning their ideas into real experience, increase downloads to their apps, simplyfing technology to their customers, saving costs to their organisation, win new customers, increase revenues, keep their customers happy while growing their business.</p><a class="hvr-line clr-second fnt-14" href="portfolio.html">See our portfolio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>