
<section class="sec-pd pt-0 sec-pb" id="second">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-9 col-lg-8 mx-auto">
        <div class="nav scroll-hide bg-gray lollypop-tabs color-gray stickytab lollypop-tabs--vertical nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="fnt-26 fnt-800 nav-link active" id="v-pills-brands-tab" data-bs-toggle="pill" data-bs-target="#v-pills-brands" type="button" role="tab" aria-controls="v-pills-brands" aria-selected="true">Top Brands</button>
          <button class="fnt-26 fnt-800 nav-link" id="v-pills-startups-tab" data-bs-toggle="pill" data-bs-target="#v-pills-startups" type="button" role="tab" aria-controls="v-pills-startups" aria-selected="false">Startups</button>
          <button class="fnt-26 fnt-800 nav-link" id="v-pills-ideas-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ideas" type="button" role="tab" aria-controls="v-pills-ideas" aria-selected="false">Ideas</button>
        </div>
        <div class="tab-content mt-4 mt-lg-5" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-brands" role="tabpanel" aria-labelledby="v-pills-brands-tab">
            <ul class="px-0 logo-list row">
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-startups" role="tabpanel" aria-labelledby="v-pills-startups-tab">
            <ul class="px-0 logo-list row">
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-ideas" role="tabpanel" aria-labelledby="v-pills-ideas-tab">
            <ul class="px-0 logo-list row">
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
              <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>