
<section class="sec-pd sec-pt sec-pb sec-client" id="third" style="background: #221429;">
  <div class="container"> 
    <div class="row"> 
      <div class="col-112 col-md-9 col-lg-8 mx-auto">
        <div class="sec-head"> 
          <h2 class="fnt-50 fnt-800 mb-3 clr-white data-scroll">Design, build and launch</h2>
          <div class="mb-4 col-md-10 col-lg-8 px-0">
            <p class="fnt-26 data-scroll clr-white">Hear it from <a class="d-inline-block clr-second faq-link" href="#">katie</a>, founder of Recalc academy how we took her idea to launch and scale.</p>
          </div>
          <div class="d-flex justify-conttent-between align-items-center flex-wrap">
            <div class="col-8 px-0"> <a class="clr-second hvr-line d-inline-block data-scroll" href="#">See Case Study</a></div>
            <div class="ms-auto px-0 d-flex justify-conttent-end align-items-center"><i class="d-inline-block icon-right-arr"></i></div>
          </div>
        </div>
        <div class="client-img"> 
          <div class="reveal"> <img src="./img/clients/client1.png"/></div>
        </div>
      </div>
    </div>
  </div>
</section>