
<section class="sec-pd sec-pt" id="fourth">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-9 col-lg-8 mx-auto">
        <div class="col-md-10 col-lg-8 col-xl-7 sec-head px-0"> 
          <h3 class="fnt-40 fnt-800 mb-3 data-scroll">40+ awards for the best design experiences</h3>
          <p class="fnt-24 data-scroll">We have helped them in turning their ideas into real experience, increase downloads to their apps.</p>
        </div>
        <ul class="award-list px-0 mb-0 row">
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
          <li class="award-list__item col-6 col-md-4 data-scroll">
            <div class="award"> 
              <div class="award__icon text-center"> <img class="img-fluid" src="./img/clients/award.svg"/></div>
              <div class="award__info text-center"> 
                <h6 class="fnt-16 fnt-400 text-center mb-1">DNA Paris Design Winner</h6>
                <div> <span class="d-block text-center fnt-12">DNA Paris Design Winner</span><span class="d-block text-center fnt-12">Award, 2021</span></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>