
<section class="sec-pd" id="fifth">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-9 col-lg-8 mx-auto"> 
        <div class="sec-head">
          <div class="col-12 col-lg-8 col-xl-7 px-0">
            <h2 class="fnt-50 fnt-800 mb-3 data-scroll">Our Designs are pervasive, beyond industries</h2>
            <p class="fnt-24 data-scroll">We have crafted experiences for 20+ industries across the globe. Be it for hardcore tech driven intelligent systems or some disruptive & wacky studios.</p>
          </div>
        </div>
        <ul class="px-0 industry-list">
          <li class="industry-list__item row">
            <div class="col-12 col-md-3">
              <h3 class="fnt-22 fnt-800 mb-2 data-scroll">Fintech</h3>
            </div>
            <div class="col-12 col-md-8 offset-md-1">
              <ul class="px-0 row data-scroll"> 
                <li class="col-6 col-md-4 ly-6">Godutch</li>
                <li class="col-6 col-md-4 ly-6">KITPAY</li>
                <li class="col-6 col-md-4 ly-6">Orbis Financial</li>
                <li class="col-6 col-md-4 ly-6">IMEpay</li>
                <li class="col-6 col-md-4 ly-6">Rubique</li>
                <li class="col-6 col-md-4 ly-6">Empays Payment</li>
                <li class="col-6 col-md-4 ly-6">PayTM Money</li>
                <li class="col-6 col-md-4 ly-6">Rebit</li>
                <li class="col-6 col-md-4 ly-6">Credit Vidya</li>
                <li class="col-6 col-md-4 ly-6">Upstox</li>
                <li class="col-6 col-md-4 ly-6">Closer</li>
                <li class="col-6 col-md-4 ly-6">Credit Vidya</li>
                <li class="col-6 col-md-4 ly-6">Finance Fox</li>
                <li class="col-6 col-md-4 ly-6">Indiabulls Ventures</li>
              </ul>
            </div>
          </li>
          <li class="industry-list__item row">
            <div class="col-12 col-md-3">
              <h3 class="fnt-22 fnt-800 mb-2 data-scroll">Health Tech</h3>
            </div>
            <div class="col-12 col-md-8 offset-md-1">
              <ul class="px-0 row data-scroll"> 
                <li class="col-6 col-md-4 ly-6">Mission Bio</li>
                <li class="col-6 col-md-4 ly-6">KITPAY</li>
                <li class="col-6 col-md-4 ly-6">Cura technologies</li>
                <li class="col-6 col-md-4 ly-6">Surgeon Logbook</li>
                <li class="col-6 col-md-4 ly-6">kaiser permanente</li>
                <li class="col-6 col-md-4 ly-6">NH Foundations</li>
                <li class="col-6 col-md-4 ly-6">Healthfile</li>
                <li class="col-6 col-md-4 ly-6">MIG</li>
                <li class="col-6 col-md-4 ly-6">TapGenes</li>
                <li class="col-6 col-md-4 ly-6">Simtics Ltd</li>
                <li class="col-6 col-md-4 ly-6">Barton Associates</li>
                <li class="col-6 col-md-4 ly-6">Volk Optical, Inc</li>
                <li class="col-6 col-md-4 ly-6">Finance Fox</li>
                <li class="col-6 col-md-4 ly-6">FindADoc</li>
              </ul>
            </div>
          </li>
          <li class="industry-list__item row">
            <div class="col-12 col-md-3">
              <h3 class="fnt-22 fnt-800 mb-2 data-scroll">Edutech</h3>
            </div>
            <div class="col-12 col-md-8 offset-md-1">
              <ul class="px-0 row data-scroll"> 
                <li class="col-6 col-md-4 ly-6">myIMS</li>
                <li class="col-6 col-md-4 ly-6">ePADD</li>
                <li class="col-6 col-md-4 ly-6">DriveSafe</li>
                <li class="col-6 col-md-4 ly-6">EkStep</li>
                <li class="col-6 col-md-4 ly-6">Numbertank</li>
                <li class="col-6 col-md-4 ly-6">Peerbuds</li>
                <li class="col-6 col-md-4 ly-6">Alef Education</li>
                <li class="col-6 col-md-4 ly-6">UpGrad</li>
              </ul>
            </div>
          </li>
          <li class="industry-list__item row">
            <div class="col-12 col-md-3">
              <h3 class="fnt-22 fnt-800 mb-2 data-scroll">Sports</h3>
            </div>
            <div class="col-12 col-md-8 offset-md-1">
              <ul class="px-0 row data-scroll"> 
                <li class="col-6 col-md-4 ly-6">Cricket.com</li>
                <li class="col-6 col-md-4 ly-6">eSports</li>
                <li class="col-6 col-md-4 ly-6">StarBeat</li>
                <li class="col-6 col-md-4 ly-6">RunAdam</li>
                <li class="col-6 col-md-4 ly-6">Uninterrupted</li>
              </ul>
            </div>
          </li>
          <li class="industry-list__item row">
            <div class="col-12 col-md-3">
              <h3 class="fnt-22 fnt-800 mb-2 data-scroll">Enterprise</h3>
            </div>
            <div class="col-12 col-md-8 offset-md-1">
              <ul class="px-0 row data-scroll"> 
                <li class="col-6 col-md-4 ly-6">AntWorks</li>
                <li class="col-6 col-md-4 ly-6">Odigo</li>
                <li class="col-6 col-md-4 ly-6">Kinderlime</li>
                <li class="col-6 col-md-4 ly-6">Vymo</li>
                <li class="col-6 col-md-4 ly-6">Airim</li>
                <li class="col-6 col-md-4 ly-6">Customer Lobby</li>
                <li class="col-6 col-md-4 ly-6">Profectus</li>
                <li class="col-6 col-md-4 ly-6">EcomCircle</li>
                <li class="col-6 col-md-4 ly-6">Hubfly</li>
                <li class="col-6 col-md-4 ly-6">TeamStreamz</li>
                <li class="col-6 col-md-4 ly-6">Tutio</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>