
<ul class="px-0 logo-list row">
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
  <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
</ul>