
<!-- About us head-->
<section class="sec-pd sec-bnr" id="one">
  <div class="container"> 
    <div class="row">
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="mb-40">
          <div class="row"> 
            <div class="col-12 col-md-11 offset-md-1"><span class="d-block fnt-14 text-capitalize mb-2 clr-default">about us</span>
              <div class="red-stroke red-stroke--small13 px-md-0">
                <h1 class="fnt-78 fnt-800 mb-3 mb-md-4">
                   We craft<span class="d-block">sweet experiences</span></h1>
                <p class="fnt-24 col-10 col-md-8 col-lg-6 px-0">By using brains, heart, skills, <span class="d-block">&nbsp;technology and a lot of coffee.</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="lp-video-wrap">
          <video id="player" playsinline="" muted="true" controls="false" data-poster="" preload="preload" autoplay="autoplay">
            <source src="./img/media/showcase2.mp4" type="video/mp4"/>
            <!-- Captions are optional-->
          </video>
        </div>
      </div>
    </div>
  </div>
</section>