
<!-- Lollypop Moments-->
<section class="sec-pd" id="two">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-9 mx-auto">
        <ul class="val-li px-0 m-0">
          <li class="val-li__item row">
            <div class="col-12 col-md-3 mb-head mb-md-0"> 
              <h3 class="fnt-40 fnt-800 data-scroll">Our Moments</h3>
            </div>
            <div class="col-12 col-md-8 offset-md-1">
              <ul class="moment-list m-0 p-0">
                <li class="moment-list__item data-scroll">
                  <h4 class="fnt-24 fnt-800">$320 Mil -<span class="fnt-24 fnt-400">&nbsp;Investment raised by our ideas that we have partnered with.</span></h4>
                </li>
                <li class="moment-list__item data-scroll">
                  <h4 class="fnt-24 fnt-800">One billion lives -<span class="fnt-24 fnt-400">&nbsp;Our designs have enabled and empowered lives across the globe.</span></h4>
                </li>
                <li class="moment-list__item data-scroll">
                  <h4 class="fnt-24 fnt-800">Minimum million -<span class="fnt-24 fnt-400">&nbsp;Most of the products we have designed have a minimum of a million users and downloads. </span></h4>
                </li>
              </ul><a class="hvr-line fnt-14 clr-second mt-4 d-inline-block data-scroll" href="portfolio.html">See our portfolio</a>
            </div>
          </li>
          <li class="val-li__item row"> 
            <div class="col-12 col-md-3 mb-head mb-md-0"> 
              <h3 class="fnt-40 fnt-800 data-scroll">Our Values</h3>
            </div>
            <div class="col-12 col-md-8 offset-md-1">
              <ul class="moment-list m-0 p-0">
                <li class="moment-list__item data-scroll">
                  <h4 class="fnt-24 fnt-800"> People -<span class="fnt-24 fnt-400">&nbsp;We have immense respect to our team, our clients, their customers their journey, their growth and their happiness.</span></h4>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>