
<section class="sec-pd" id="third">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-9 mx-auto"> 
        <div class="row justify-content-center justify-content-md-between"> 
          <div class="col-8 col-md-5 mb-100 mb-md-0 data-scroll"><img class="img-fluid" src="./img/about/celebrate.png"/></div>
          <div class="col-8 col-md-5 data-scroll"><img class="img-fluid" src="./img/about/repect.png"/></div>
        </div>
      </div>
    </div>
  </div>
</section>