
<!-- Clients-->
<section class="sec-pd" id="fourth">
  <div class="container">
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-9 mx-auto"> 
        <div class="row"> 
          <div class="col-12 col-md-3 mb-head mb-md-0"> 
            <h3 class="fnt-40 fnt-800 data-scroll">Our Clients</h3>
          </div>
          <div class="col-12 col-md-7 offset-md-2">
            <ul class="px-0 m-0 client-list single-mb-dot-slider">
              <li class="client-list__item data-scroll"> <a class="clnt d-block" href="javascript:void(0)">
                  <div class="clnt__logo"><img class="grayscale" src="./img/about/lg1.svg"/></div>
                  <div class="clnt__info"> 
                    <p class="col-11 col-lg-10 px-0">Before Lollypop, we worked with many design studios in past, and I can’t remember one that was so hands-on  about working with our clients.</p>
                  </div>
                  <div class="clnt__profile">
                    <div class="d-flex"> 
                      <div class="img"> <img src="./img/about/thammu.jpg"/></div>
                      <div class="col-8 ms-2 ms-lg-3"> <span class="d-block fnt-14">Shrini,</span><span class="d-block fnt-14">Founder and Director</span></div>
                    </div>
                  </div></a></li>
              <li class="client-list__item data-scroll"> <a class="clnt d-block" href="javascript:void(0)"> 
                  <div class="clnt__logo"><img class="grayscale" src="./img/about/lg1.svg"/></div>
                  <div class="clnt__info"> 
                    <p class="col-11 col-lg-10 px-0">Before Lollypop, we worked with many design studios in past, and I can’t remember one that was so hands-on  about working with our clients.</p>
                  </div>
                  <div class="clnt__profile">
                    <div class="d-flex"> 
                      <div class="img"> <img src="./img/about/thammu.jpg"/></div>
                      <div class="col-8 ms-2 ms-lg-3"> <span class="d-block fnt-14">Shrini,</span><span class="d-block fnt-14">Founder and Director</span></div>
                    </div>
                  </div></a></li>
              <li class="client-list__item data-scroll"> <a class="clnt d-block" href="javascript:void(0)">
                  <div class="clnt__logo"><img class="grayscale" src="./img/about/lg1.svg"/></div>
                  <div class="clnt__info"> 
                    <p class="col-11 col-lg-10 px-0">Before Lollypop, we worked with many design studios in past, and I can’t remember one that was so hands-on  about working with our clients.</p>
                  </div>
                  <div class="clnt__profile">
                    <div class="d-flex"> 
                      <div class="img"> <img src="./img/about/thammu.jpg"/></div>
                      <div class="col-8 ms-2 ms-lg-3"> <span class="d-block fnt-14">Shrini,</span><span class="d-block fnt-14">Founder and Director</span></div>
                    </div>
                  </div></a></li>
            </ul><a class="hvr-line fnt-14 clr-second mt-4 mt-lg-5 pt-lg-3 d-inline-block data-scroll" href="portfolio.html">More client stories</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>