
<!-- Team-->
<section class="sec-pd sec-pt sec-pb" id="fifth" style="background: #221429;">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-9 mx-auto">
        <div class="tean-head col-12 col-md-7 col-lg-8 col-xl-7 px-0 mb-45"> 
          <h2 class="fnt-50 l-3 clr-white fnt-800 mb-3 data-scroll">Humans desinging for humans</h2>
          <p class="fnt-26 clr-white my-4 d-block max-width-480 data-scroll">180 creative minds spread across 5 countries touching billions of lives through design.</p><a class="clr-second fnt-14 hvr-line mt-4 d-inline-block data-scroll" href="javascript:void(0)">Learn more about us</a>
        </div>
        <!-- Team list-->
        <div class="team"> 
          <div class="team__head"> 
            <h3 class="fnt-40 fnt-800 clr-white data-scroll">Mentors/Leaders</h3>
          </div>
          <div class="team__members"> 
            <ul class="team-list px-0 row"> 
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/renil-final.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Renil Komitla</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/renil-final.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Renil Komitla</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/renil-final.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Renil Komitla</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/renil-final.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Renil Komitla</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/renil-final.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Renil Komitla</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/renil-final.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Renil Komitla</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Tribe Leaders-->
        <div class="team"> 
          <div class="team__head"> 
            <h3 class="fnt-40 fnt-800 clr-white data-scroll">Tribe Leaders</h3>
          </div>
          <div class="team__members"> 
            <ul class="team-list px-0 row"> 
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/anil.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Anil Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/kruthi.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Kruti Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">Director</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/anil.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Anil Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/anil.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Anil Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/kruthi.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Kruti Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">Director</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/anil.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Anil Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/anil.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Anil Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/kruthi.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Kruti Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">Director</span>
                  </div>
                </div>
              </li>
              <li class="team-list__item col-6 col-md-4"> 
                <div class="team-profile">
                  <div class="team-profile__img img-scroll"> <img class="img-fluid" src="./img/about/anil.jpg"/></div>
                  <div class="team-profile__name"> 
                    <h5 class="fnt-22 fnt-800 clr-white mb-0 text-capitalize data-scroll">Anil Reddy</h5><span class="d-block fnt-14 clr-white data-scroll">CEO and Founder</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-12 col-md-8 col-lg-6 mx-auto"> 
        <div class="py-140 pb-0 px-3">
          <div class="d-flex align-items-center justify-content-center">
            <div class="d-inline-block clr-white text-center"> 
              <div class="mb-35">
                <h3 class="fnt-50 fnt-800 clr-white mb-2 pb-md-1 data-scroll">Join the tribe and lets dance in</h3>
                <p class="col-md-10 col-lg-7 px-0 m-auto text-center data-scroll">For awesome people we always have openings. Talk to us and we will find a way to bring you on board.</p>
              </div><a class="web-btn web-btn--primary data-scroll" href="career.html">Careers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>