
<!-- Portfolio head-->
<section class="sec-pd">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto"> 
        <h1 class="fnt-60 fnt-800 col-12 col-md-10 px-0 mb-22" data-aos="fade-up" data-aos-duration="500">Reimagining industries, through<span class="d-inline-block clr-second" data-aos="fade-up" data-aos-duration="1000">&nbsp;design</span></h1>
        <div class="d-md-flex flex-wrap justify-content-between" data-aos="fade-up" data-aos-duration="500">
          <p class="fnt-16 m-0 col-12 col-md-8 col-lg-6 px-0 mb-3 mb-md-0">Mobile, web, healthcare, fintech, edtech, ecommerece, enterprise applications we have designed it all. </p>
          <div>
            <div class="red-stroke"><span class="d-block">Look book</span><span class="d-block">2016-20</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>