
<section class="sec-footer-trans">
  <div class="container z-1">
    <div class="row"> 
      <div class="col-12 col-md-10 mx-auto">
        <div class="py-70 px-mb-15" style="background: #221429;" data-aos="fade-up" data-aos-duration="500">
          <div class="d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 px-0 d-inline-block clr-white text-center"> 
              <div class="mb-45"><span class="d-block fnt-24 mb-4 pb-2 mb-md-3 pb-md-0">Thinking of design?</span>
                <h2 class="h2 h2--lg">Let’s craft brilliance together!</h2>
              </div><a class="web-btn web-btn--red" href="#">Get in Touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>