
<!-- Articles-->
<section class="sec-pd"> 
  <div class="container"> 
    <div class="row article-div"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <h2 class="fnt-40 fnt-800 mb-head">Top must read articles</h2>
        <ul class="px-0 blog-list blog-list--topmost">
          <li class="blog-list__item"><a class="blog row" href="blog-detail.html">
              <div class="blog-img col-12 col-md-5 col-lg-6 mb-img mb-md-0">
                <div class="reveal"><img src="./img/blog/blog1.png"/></div>
              </div>
              <div class="blog-info col-12 col-md-7 col-lg-6">
                <div class="d-flex flex-column">
                  <div> 
                    <h3 class="mb-2 fnt-800 blog-titile data-scroll">Ambient Computing and UX Design</h3>
                    <p class="data-scroll">Our predictions for illustration trends for 2021. Through this blog, we What is the secret piece that worked for them that somehow many others lack? That missing piece is no magic..</p>
                  </div>
                  <div class="data-scroll"> <span class="fnt-12">By Vikas on May 13</span><span class="tick-sapn fnt-12">6 Min read</span></div>
                </div>
              </div></a></li>
          <li class="blog-list__item"><a class="blog row" href="blog-detail.html">
              <div class="blog-img col-lg-6 mb-img mb-md-0">
                <div class="reveal"><img src="./img/blog/blog2.png"/></div>
              </div>
              <div class="blog-info col-12 col-md-7 col-lg-6">
                <div class="d-flex flex-column">
                  <div> 
                    <h3 class="mb-2 fnt-800 blog-titile data-scroll">Design for Culture and Sustainability</h3>
                    <p class="data-scroll">The idea of a user-centered product is a focal point across a variety of industries today. Companies are seeing benefits in placing their users and certainly, it’s important to put enough...</p>
                  </div>
                  <div class="data-scroll"> <span class="fnt-12">By Vikas on May 13</span><span class="tick-sapn fnt-12">6 Min read</span></div>
                </div>
              </div></a></li>
        </ul>
      </div>
    </div>
    <div class="row article-div"> 
      <div class="col-12 col-md-11 col-lg-10 px-mb-0 mx-auto">
        <ul class="px-0 blog-list blog-list--whitepaper">
          <li class="blog-list__item white-paper bg-white"><a class="blog row" href="blog-detail.html"><span class="text-uppercase d-block d-md-none mb-3 fnt-12 fnt-800 data-scroll">WHITE PAPER</span>
              <div class="blog-img col-12 col-md-5 mb-img mb-md-0">
                <div class="reveal mt-md-4 pt-md-3"><img src="./img/blog/wht-pr.png"/></div>
              </div>
              <div class="blog-info col-12 col-md-7">
                <div class="d-flex flex-column white-paper__info">
                  <div> <span class="text-uppercase d-none d-md-block mb-3 fnt-12 fnt-800">WHITE PAPER</span>
                    <h3 class="mb-2 fnt-800 blog-titile data-scroll">Disrupting the future of E- Commerce through design</h3>
                    <p class="data-scroll">Consumer & Technology are two key players that are reshaping the E-commerce landscape. Let’s find out how design serves as the strategic linchpin in bringing consumer & technology closer..</p>
                  </div>
                  <div class="data-scroll"> <span class="fnt-12">Published on: 02 SEP 2020</span></div>
                </div>
              </div></a></li>
        </ul>
      </div>
    </div>
    <div class="row article-div"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <ul class="px-0 blog-list blog-list--second">
          <li class="blog-list__item"><a class="blog row" href="blog-detail.html">
              <div class="blog-img col-12 col-md-5 mb-img mb-md-0">
                <div class="reveal"><img src="./img/blog/blog4.png"/></div>
              </div>
              <div class="blog-info col-12 col-md-7">
                <div class="d-flex flex-column">
                  <div> 
                    <h3 class="mb-2 fnt-800 blog-titile data-scroll">The future of telecom industry in the East</h3>
                    <p class="data-scroll">Our predictions for illustration trends for 2021. Through this blog, we What is the secret piece that worked for them that somehow many others lack? That missing piece is no magic..</p>
                  </div>
                  <div class="data-scroll"> <span class="fnt-12">By Vikas on May 13</span><span class="tick-sapn fnt-12">6 Min read</span></div>
                </div>
              </div></a></li>
          <li class="blog-list__item"><a class="blog row" href="blog-detail.html">
              <div class="blog-img col-12 col-md-5 mb-img mb-md-0">
                <div class="reveal"><img src="./img/blog/blog5.png"/></div>
              </div>
              <div class="blog-info col-12 col-md-7">
                <div class="d-flex flex-column">
                  <div> 
                    <h3 class="mb-2 fnt-800 blog-titile data-scroll">Persona based design for B2B SaaS products</h3>
                    <p class="data-scroll">The idea of a user-centered product is a focal point across a variety of industries today. Companies are seeing benefits in placing their users and certainly, it’s important to put enough...</p>
                  </div>
                  <div class="data-scroll"> <span class="fnt-12">By Vikas on May 13</span><span class="tick-sapn fnt-12">6 Min read</span></div>
                </div>
              </div></a></li>
          <li class="blog-list__item"><a class="blog row" href="blog-detail.html">
              <div class="blog-img col-12 col-md-5 mb-img mb-md-0">
                <div class="reveal"><img src="./img/blog/blog6.png"/></div>
              </div>
              <div class="blog-info col-12 col-md-7">
                <div class="d-flex flex-column">
                  <div> 
                    <h3 class="mb-2 fnt-800 blog-titile data-scroll">Formulating an Optimum UX Content Strategy</h3>
                    <p class="data-scroll">The idea of a user-centered product is a focal point across a variety of industries today. Companies are seeing benefits in placing their users and certainly, it’s important to put enough...</p>
                  </div>
                  <div class="data-scroll"> <span class="fnt-12">By Vikas on May 13</span><span class="tick-sapn fnt-12">6 Min read</span></div>
                </div>
              </div></a></li>
          <li class="blog-list__item"><a class="blog row" href="blog-detail.html">
              <div class="blog-img col-12 col-md-5 mb-img mb-md-0">
                <div class="reveal"><img src="./img/blog/blog7.png"/></div>
              </div>
              <div class="blog-info col-12 col-md-7">
                <div class="d-flex flex-column">
                  <div> 
                    <h3 class="mb-2 fnt-800 blog-titile data-scroll">What is Design Audit & how it impacts business?</h3>
                    <p class="data-scroll">The idea of a user-centered product is a focal point across a variety of industries today. Companies are seeing benefits in placing their users and certainly, it’s important to put enough...</p>
                  </div>
                  <div class="data-scroll"> <span class="fnt-12">By Vikas on May 13</span><span class="tick-sapn fnt-12">6 Min read</span></div>
                </div>
              </div></a></li>
        </ul><a class="d-inline-block clr-second fnt-14 hvr-line mt-4 mt-md-5" href="javascript:void(0)">Load More</a>
      </div>
    </div>
  </div>
</section>