
<!-- Popshot-->
<section class="sec-pd sec-pb"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <h2 class="fnt-50 fnt-800 mb-head data-scroll">Our latest  popshot</h2>
        <div class="popshot">
          <div class="row flex-wrap">
            <div class="col-12 col-md-6 mb-4 mb-md-0"><a class="popshot__img d-block popup-vimeo" href="https://vimeo.com/366185895">
                <div class="reveal"><img class="video-poster" src="./img/blog/popshot.png"/></div>
                <div class="play-icon"> <i class="icon-play"></i></div></a></div>
            <div class="col-12 col-md-6">
              <div class="popshot__info">
                <div class="mb-40">
                  <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Manage home lights remotely.</h3>
                  <p class="data-scroll">Interaction design for a concept app that lets you control the lights of your house from any device remotely.</p>
                </div>
                <ul class="px-0 d-flex flex-wrap mb-40 data-scroll"> 
                  <li class="me-3"> 
                    <h3 class="fnt-30 fnt-800">2,527</h3><span class="d-block fnt-16">Views</span>
                  </li>
                  <li class="me-3"> 
                    <h3 class="fnt-30 fnt-800">1,025</h3><span class="d-block fnt-16">Likes</span>
                  </li>
                  <li class="me-3"> 
                    <h3 class="fnt-30 fnt-800">30</h3><span class="d-block fnt-16">Comments</span>
                  </li>
                </ul>
                <div class="d-flex align-items-center flex-wrap data-scroll"> <span class="fnt-16 d-inline-block me-4">Check more Popshots</span>
                  <div class="icons d-flex flex-wrap">
                    <div class="icons__item"><a class="me-2 icon-insta" href="#"></a></div>
                    <div class="icons__item"><a class="me-2 icon-web" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>