.Emaar_digital p,.Emaar_digital h2,.Emaar_digital h3{margin:0}.Emaar_digital .head h2{max-width:805px;font-size:40px;font-weight:800;margin:auto;color:#221429;line-height:130%}.Emaar_digital .head h2::before{content:'';position:absolute;top:11px;left:110px;background-color:#FD2E35;width:4px;height:40px}.Emaar_digital .approach_style .col-md-3 p{color:#FD2E35;font-size:18px;font-weight:700}.Emaar_digital .approach_style .space p:first-child{color:#221429;font-size:24px;font-weight:400;max-width:548px;padding-bottom:69px;line-height:145%}.Emaar_digital .space1 p{max-width:266px;font-size:14px;font-weight:400;color:#221429;line-height:160%}.Emaar_digital .space1 h3{font-size:22px;font-weight:800;line-height:135%}.Emaar_digital .space2 h3:before{content:'';position:absolute;top:-23px;left:12px;width:4px;height:24px;background-color:#FD2E35;transform:rotate(90deg)}.Emaar_digital .space3{padding:100px 0 132px 0}.Emaar_digital .approach_style{width:100%;max-width:845px;margin:0 auto}.Emaar_digital .space3 .col-md-4:nth-child(2){margin-top:60px}.Emaar_digital .photo .card{border:0;margin:0 26px 0 0}.Emaar_digital .photo{padding-bottom:132px;padding-top:100px}.Emaar_digital .photo{display:none}.emar{max-width:924px;width:100%;margin:0 auto}@media only screen and (max-width:1367px){.Emaar_digital .head h2::before{left:40px}.offset-md-1 .fnt-78.h1,h1.fnt-78{font-size:50px!important}}@media only screen and (max-width:1024px){.Emaar_digital .head h2::before{left:10px}}@media only screen and (max-width:992px){.Emaar_digital .head h2::before{left:0}}@media only screen and (max-width:768px){.home-artical-list.whitetext{padding-top:30px}}@media only screen and (max-width:426px){.Emaar_digital .head h2::before{left:7px}.Emaar_digital .space4{padding-top:48px}.Emaar_digital .space3 .col-md-4:nth-child(2){margin-top:0}.Emaar_digital .space3{display:none}.Emaar_digital .photo{display:block!important}.lp-sudo-right__textchange.redtext{line-height:unset!important}.stickytab{padding-top:20px!important}.ms_2{margin-left:0px!important}.rmejc{justify-content:unset!important}.Emaar_digital .head h2{font-size:30px}}


/*data visulaization*/

.some_stories .firstp{font-weight: 400;font-size: 24px;line-height: 145%;color: #221429;text-align: center;margin: 0;padding-bottom: 42px;}

.some_stories .row img{margin-bottom: 20px;}

.need_data h2{font-weight: 800;font-size: 40px;line-height: 130%;color: #231F20;max-width: 400px;padding-top: 100px;padding-bottom: 28px;margin: 0;}
.need_data p{font-weight: 500;font-size: 24px;line-height: 32px;max-width: 530px;color: #231F20;margin: 0;padding-bottom: 55px;}
.need_data .heading{font-weight: 800;font-size: 22px;line-height: 135%;color: #231F20;margin: 0;padding-bottom: 10px;letter-spacing: -0.03em;}
.need_data .para{font-weight: 500;font-size: 18px;line-height: 28px;color: #231F20;padding: 0;max-width: unset;}
.need_data .col-md-6{padding-bottom: 70px;}
.need_data .col-md-6.space{padding-right: 55px;}
.need_data .col-12.col-md-10.col-lg-8{}
.need_data .row, .black .row{width: unset;max-width: none;}
.data_red{color: #FD2E35;font-weight: 800;font-size: 22px;}
.data_red1{color: #FD2E35;}

.black{background: #221429;}
.black .row{padding-bottom: 90px;margin-top: 120px;}
.black .row.black_row{padding-top: 129px;margin: 0;}
.black .white_text1{font-weight: 800;font-size: 40px;line-height: 130%;color: #ffffff;letter-spacing: -0.03em;padding-bottom: 30px;margin: 0;}
.black .white_text2{font-weight: 500;font-size: 18px;line-height: 158.6%;color: #ffffff;margin: 0;}
.black .white_text3{font-weight: 800;font-size: 22px;line-height: 135%;color: #ffffff;margin: 0;}
.black .col-md-6{padding-left: 0;padding-right: 0;}
.black .col-md-6:first-child{padding-right: 95px;}
.black .mw-362{max-width: 360px;width: 100%;}
.mw-634{width: 100%;max-width: 634px;margin: 0 auto;padding-top: 52px;}
.mw-682{width: 100%;max-width: 500px;margin: 0 auto;}
.need_data1 h2{padding: 130px 0 73px;}

.need_data2{background: #ffffff;padding: 94px 0;margin-top: 130px;}
.need_data2 p{font-weight: 400;font-size: 14px;line-height: 160%;color: #221429;margin: 0;}
.need_data2 h2{font-weight: 800;font-size: 50px;line-height: 130%;color: #221429;max-width: 454px;padding-bottom: 10px;margin: 0;}
.need_data2 .accordion::after{content: none;}
.need_data2 .plus.accordion-button:not(.collapsed)::after{width: 16px;height: 2px;position: absolute;content: '';background-image: none!important;background: #FD2E35;right: 0px;}
.need_data2 .plus.accordion-button::after, .need_data2 .plus.accordion-button::before{width: 16px;height: 2px;position: absolute;content: '';background-image: none!important;background: #FD2E35;right: 0px;}
.plus[aria-expanded=true]::before {transform: rotate(180deg)!important;}
.plus::after {transform: rotate(180deg) !important;;}
.plus::before {transform: rotate(90deg) !important;;}
.accordion-button:not(.collapsed){background-color: unset!important;}
.accordion-button:focus{border-color: unset!important;box-shadow: none;}
.accordion-item{border: 0;}
.accordion-body{padding: 0;}
.need_data2 .plus.accordion-button{padding: 20px 0;}
.need_data2 .accordion-body p{font-weight: 400;font-size: 16px;line-height: 168%;color: #000000;}
.need_data2 .accordion-item button{font-weight: 800;color: #221429;font-size: 16px;line-height: 160%;}
.data_red1::before{position: absolute;content: '';bottom: -8px;left: 0px;background: #FD2E35;width: 44.71px;height: 2px;}
.secright{padding-left:22px;}

@media only screen and (max-width:768px){

    .need_data h2{font-size: 30px;}
    .need_data p{font-size: 20px;}
    .need_data .heading{font-size: 18px;}
    .need_data .para{font-size: 14px;}
    .black .white_text1{font-size: 30px;}
    .black .white_text3{font-size: 18px;}
    .black .white_text2{font-size: 14px;}
    .need_data2 h2{font-size: 30px;}
}
@media only screen and (max-width:426px){

    .need_data2{padding-left: 15px;padding-right: 15px;}

}
/*data visulaization*/