
<!-- Section Banner-->
<section class="sec-pd sec-pb" style="background: #FD2E35;">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto car-bnr"> 
        <div class="d-flex flex-column align-items-center justify-content-center"><img class="car-bnr-img" src="./img/career/career-ilustration.png" alt="career-artist" data-aos="zoom-in-down" data-aos-duration="2000"/>
          <h1 class="fnt-78 fnt-800 clr-white text-center mb-35"><span class="d-inline-block" data-aos="fade-up" data-aos-duration="500">We are </span><span class="d-inline-block clr-black" data-aos="fade-up" data-aos-duration="2000">&nbsp;artist</span><span class="d-block" data-aos="fade-up" data-aos-duration="500">turned designers</span></h1><span class="d-block car-bnr__info fnt-24 col-md-8 text-center px-0" data-aos="fade-up" data-aos-duration="500">Join our team of hybrid, diverse talents to challenge the status quo and solve problems</span>
        </div>
      </div>
    </div>
  </div>
</section>