
<!-- Section Whats Going-->
<section class="py-140">
  <div class="container"> 
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8 mx-auto mb-112">
        <div class="mb-60 data-scroll"><span class="clr-white fnt-800 fnt-40 d-block mb-2">What keeps us going</span>
          <h2 class="fnt-78 fnt-800 clr-white">
             Coffee, culture, pets, travel, respect, <span class="clr-second">passion</span><span>, awards, music, learning and lot of food.</span></h2>
        </div>
        <ul class="px-0 random-pics d-flex flex-wrap justify-content-between">
          <li class="random-pics__item">    
            <div class="reveal"><img src="./img/career/career1.png"/></div>
          </li>
          <li class="random-pics__item">    
            <div class="reveal"><img src="./img/career/career2.png"/></div>
          </li>
          <li class="random-pics__item">    
            <div class="reveal"><img src="./img/career/career3.png"/></div>
          </li>
          <li class="random-pics__item">    
            <div class="reveal"><img src="./img/career/career4.png"/></div>
          </li>
          <li class="random-pics__item">    
            <div class="reveal"><img src="./img/career/career5.png"/></div>
          </li>
          <li class="random-pics__item">    
            <div class="reveal"><img src="./img/career/career6.png"/></div>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-8 mx-auto">
        <div class="mb-4 pb-2 pb-md-3 mb-lg-5 pb-lg-0 data-scroll">
          <h2 class="d-block fnt-50 fnt-800 mb-3 mb-md-4 pb-lg-1 clr-white">
             And this is what <span class="d-block">keep us going</span></h2><span class="d-block clr-white fnt-24 col-lg-7 px-0">These are our values: the foundation of our company, the bricks used to build</span>
        </div>
        <ul class="px-0 popshare-list mb-0 row justify-content-between data-scroll">
          <li class="popshare-list__item col-12 col-md-5">
            <h3 class="fnt-22 clr-white fnt-800">Popshare</h3>
            <p class="fnt-16 clr-white">If you are a passionate designer willing to design solutions across domains you are exactly.</p>
          </li>
          <li class="popshare-list__item col-12 col-md-5">
            <h3 class="fnt-22 clr-white fnt-800">Popshare</h3>
            <p class="fnt-16 clr-white">If you are a passionate designer willing to design solutions across domains you are exactly.</p>
          </li>
          <li class="popshare-list__item col-12 col-md-5">
            <h3 class="fnt-22 clr-white fnt-800">Popshare</h3>
            <p class="fnt-16 clr-white">If you are a passionate designer willing to design solutions across domains you are exactly.</p>
          </li>
          <li class="popshare-list__item col-12 col-md-5">
            <h3 class="fnt-22 clr-white fnt-800">Popshare</h3>
            <p class="fnt-16 clr-white">If you are a passionate designer willing to design solutions across domains you are exactly.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>