
<!-- Section Locations-->
<section class="py-140 pt-0">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <div class="col-md-11 col-lg-10 px-0 mb-60 pb-lg-1 data-scroll">
          <h2 class="fnt-50 clr-white fnt-800 mb-3 pb-lg-1">
             5 locations and <span class="d-block">different experience</span></h2><span class="d-block clr-white fnt-24 col-lg-7 px-0">We open locations in places where the most talented people want to live</span>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <ul class="px-0 mb-0 location-list d-flex flex-wrap justify-content-between">
          <li class="location-list__item"><a class="location d-flex flex-column bg-card" href="#">
              <div class="reveal"> <img class="loc-img" src="./img/career/location-ind.png"/></div>
              <div class="location__info mt-auto"> 
                <h4 class="fnt-40 clr-white fnt-800 mb-0">India</h4><span class="d-block fnt-14 clr-white">Bangalore, Mumbai and Chennai</span>
              </div></a></li>
          <li class="location-list__item"><a class="location d-flex flex-column bg-card" href="#">
              <div class="reveal"> <img class="loc-img" src="./img/career/location-uae.png"/></div>
              <div class="location__info mt-auto"> 
                <h4 class="fnt-40 clr-white fnt-800 mb-0">USA</h4><span class="d-block fnt-14 clr-white">San Jose & Dallas</span>
              </div></a></li>
          <li class="location-list__item"><a class="location d-flex flex-column bg-card" href="#">
              <div class="reveal"> <img class="loc-img" src="./img/career/location-uae.png"/></div>
              <div class="location__info mt-auto"> 
                <h4 class="fnt-40 clr-white fnt-800 mb-0">UAE</h4><span class="d-block fnt-14 clr-white">Dubai</span>
              </div></a></li>
          <li class="location-list__item"><a class="location d-flex flex-column bg-card" href="#">
              <div class="reveal"> <img class="loc-img" src="./img/career/location-uae.png"/></div>
              <div class="location__info mt-auto"> 
                <h4 class="fnt-40 clr-white fnt-800 mb-0">Vietnam</h4><span class="d-block fnt-14 clr-white">Ho Chimin City</span>
              </div></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>