
<!-- Section Open Tickets-->
<section class="py-140 pt-0">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto"> 
        <div class="col-md-11 col-lg-10 mb-60 data-scroll">
          <h2 class="fnt-50 fnt-800 clr-white">
             Join our tribe to <span class="d-block">celebrate design</span></h2><span class="d-block clr-white fnt-24 col-lg-8 px-0">Does our story excite you? Hop on join our tribe and let’s craft sweet experiences together</span>
        </div>
        <div class="row"> 
          <div class="col-12 col-md-10 col-lg-8 accordions">
            <div class="accordion active data-scroll">
              <div class="accordion__head">
                <h3 class="fnt-40 fnt-800 clr-second">Design</h3>
              </div>
              <div class="accordion__body pt-3"> 
                <p class="fnt-16 clr-white mb-30">If you are a passionate designer willing to design solutions across domains you are exactly who we're looking for, so feel free to <a class="clr-second d-inline-block hvr-link" href="#">&nbsp;submit your application.</a></p>
                <ul class="px-0 mb-0 open-ticket-list">
                  <li class="open-ticket-list__item"><a class="d-flex" href="job-detail.html">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Lead - UX Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Chennai, Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="job-detail.html">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Lead - UI Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Mumbai</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="job-detail.html">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Sr. UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Chennai, Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="job-detail.html">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Sr. UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Chennai</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="job-detail.html">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="job-detail.html">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">UI Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Chennai, Mumbai</span></div></a></li>
                </ul>
              </div>
            </div>
            <div class="accordion data-scroll">
              <div class="accordion__head">
                <h3 class="fnt-40 fnt-800 clr-second">Technology</h3>
              </div>
              <div class="accordion__body pt-3"> 
                <p class="fnt-16 clr-white mb-30">If you are a passionate designer willing to design solutions across domains you are exactly who we're looking for, so feel free to <a class="clr-second d-inline-block hvr-link" href="#">&nbsp;submit your application.</a></p>
                <ul class="px-0 mb-0 open-ticket-list">
                  <li class="open-ticket-list__item"><a class="d-flex" href="job-detail.html">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Lead - UX Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Chennai, Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Lead - UI Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Mumbai</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Sr. UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Chennai, Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Sr. UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Chennai</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">UI Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Chennai, Mumbai</span></div></a></li>
                </ul>
              </div>
            </div>
            <div class="accordion data-scroll">
              <div class="accordion__head">
                <h3 class="fnt-40 fnt-800 clr-second">Operations</h3>
              </div>
              <div class="accordion__body pt-3"> 
                <p class="fnt-16 clr-white mb-30">If you are a passionate designer willing to design solutions across domains you are exactly who we're looking for, so feel free to <a class="clr-second d-inline-block hvr-link" href="#">&nbsp;submit your application.</a></p>
                <ul class="px-0 mb-0 open-ticket-list">
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Lead - UX Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Chennai, Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Lead - UI Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Mumbai</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Sr. UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Chennai, Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">Sr. UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Bangalore, Chennai</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">UX Designer</h6>
                      </div>
                      <div class="col-6"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Vietnam</span></div></a></li>
                  <li class="open-ticket-list__item"><a class="d-flex" href="#">
                      <div class="col-6 px-0"> 
                        <h6 class="fnt-18 clr-white fnt-600 m-0">UI Designer</h6>
                      </div>
                      <div class="col-6 px-0"> <span class="d-inline-block fnt-400 fnt-14 clr-white">Chennai, Mumbai</span></div></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>