
<!-- Cards-->
<section class="sec-pd"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <ul class="px-0 image-text-list">
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500"> 
            <div class="row"> 
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/industry/ind1.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">ENTERPRISE</span></div>
                  <div class="mb-3"> 
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Humanizing Enterprise Applications.</h3>
                    <p class="fnt-16 data-scroll">We bring human centred design for digital tools to empower employees and attain  business goals.</p>
                  </div>
                  <div> <a class="hvr-line fnt-14 clr-second data-scroll" href="#">Read More</a></div>
                </div>
              </div>
            </div>
          </li>
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500">
            <div class="row"> 
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/industry/ind2.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">AGRICULTURE</span></div>
                  <div class="mb-3"> 
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Design Driven Agriculture can Empower Nations.</h3>
                    <p class="fnt-16 data-scroll">Design and technology combined can eradicate many of the fundamental problems faced by players in agriculture domain.</p><a class="hvr-line fnt-14 clr-second data-scroll" href="#">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500">
            <div class="row"> 
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/industry/ind3.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">HEALTHCARE</span></div>
                  <div class="mb-3"> 
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Redefining Healthcare with Digital Design.</h3>
                    <p class="fnt-16 data-scroll">Enabling Healthcare through technology and digital design.</p><a class="hvr-line fnt-14 clr-second data-scroll" href="#">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500">
            <div class="row"> 
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/industry/ind4.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">FINTECH</span></div>
                  <div class="mb-3"> 
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Changing the Fintech game with design.</h3>
                    <p class="fnt-16 data-scroll">We are experts in data visualization and breaking complex information into simple to understand concepts.</p><a class="hvr-line fnt-14 clr-second data-scroll" href="#">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>