
<!-- Banner-->
<section class="sec-pd sec-pt"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto"> 
        <div class="contact-bnr">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="col-8 col-md-4 col-lg-3 mb-2"><img class="img-fluid" src="./img/contact/cnt-bnr.png" data-aos="zoom-in-down" data-aos-duration="2500"/></div>
            <div class="col-12 col-md-6">
              <h1 class="fnt-78 fnt-800" data-aos="fade-up" data-aos-duration="500">Good day!</h1>
              <p class="fnt-24" data-aos="fade-up" data-aos-duration="500">Let us know how we can help you today.</p>
            </div>
          </div>
        </div>
        <!-- Banner contact list-->
        <ul class="px-0 contat-list contat-list--bnr mb-0 row single-mb-slider">
          <li class="contat-list__item col-12 col-md-4 data-scroll"><a class="contact d-flex flex-column bg-white card-hvr" href="#">
              <div class="mb-40"> 
                <h3 class="fnt-30 fnt-800 mb-2 pb-md-1">Start a project</h3>
                <p class="fnt-20">Looking to discuss a project with us?</p>
              </div>
              <div class="mt-auto"> <span class="hvr-line clr-second text-capitalize" href="#">let’s talk</span></div></a></li>
          <li class="contat-list__item col-12 col-md-4 data-scroll"><a class="contact d-flex flex-column bg-white card-hvr" href="#">
              <div class="mb-40"> 
                <h3 class="fnt-30 fnt-800 mb-2 pb-md-1">Work with us</h3>
                <p class="fnt-20">Do you wish to be a part of our tribe?</p>
              </div>
              <div class="mt-auto"> <span class="hvr-line clr-second text-capitalize" href="#">Join Us</span></div></a></li>
          <li class="contat-list__item col-12 col-md-4 data-scroll"><a class="contact d-flex flex-column bg-white card-hvr" href="#">
              <div class="mb-40"> 
                <h3 class="fnt-30 fnt-800 mb-2 pb-md-1">General</h3>
                <p class="fnt-20">Can't find what you are looking for?</p>
              </div>
              <div class="mt-auto"> <span class="hvr-line clr-second text-capitalize" href="#">Say hi!</span></div></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>