
<!-- Contact by place-->
<section class="sec-pd sec-pb">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-9 mx-auto">
        <div class="contact-head">
          <h2 class="fnt-50 fnt-800 data-scroll">
             We're here for you.<span class="d-block">Say hi.</span></h2>
        </div>
        <div class="mb-contact-head d-md-none"> <span>India</span></div>
        <ul class="px-0 contct-place">
          <!-- India-->
          <li class="contct-place__item">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="place-name"> 
                  <h2 class="fnt-50 fnt-800 data-scroll contact-title">India</h2>
                </div>
              </div>
              <div class="col-12 col-md-8 offset-md-1">
                <ul class="px-0 contat-list row">
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Bengaluru</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">677, 9th Main Road, </span><span class="d-block">Sector 7, HSR Layout </span><span class="d-block">Bangalore 560102</span></p>
                      </div>
                      <div class="mt-auto">
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map</a>
                      </div>
                    </div>
                  </li>
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Chennai</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">No. 10 Railway Colony 1st street,</span><span class="d-block">Nelson Manickam Rd, Aminjikarai,</span><span class="d-block">Chennai 600029</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map</a>
                      </div>
                    </div>
                  </li>
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Mumbai</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">B905, Kanakia Wall Street, Chakala</span><span class="d-block">Junction, Andheri-Kurla Rd, Andheri</span><span class="d-block">East, Mumbai 400093</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map                                  </a>
                      </div>
                    </div>
                  </li>
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Bengaluru</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">#15 4th C Cross Industrial Layout,</span><span class="d-block">5th Block, Koramangala,</span><span class="d-block">Bangalore 560034</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map                    </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- USA-->
          <li class="contct-place__item">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="place-name"> 
                  <h2 class="fnt-50 fnt-800 data-scroll contact-title">USA</h2>
                </div>
              </div>
              <div class="col-12 col-md-8 offset-md-1">
                <ul class="px-0 contat-list row">
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Plymouth</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">14492 Sheldon Rd,</span><span class="d-block">Plymouth, MI48170</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map  </a>
                      </div>
                    </div>
                  </li>
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Sandy</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">8915 South 700 East Suite 203,</span><span class="d-block">Sandy, UT84070</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map  </a>
                      </div>
                    </div>
                  </li>
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Ogden</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">1464 E. Ridgeline Dr Suite 202,</span><span class="d-block">South Ogden, UT84405</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map</a>
                      </div>
                    </div>
                  </li>
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Dallas</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">2840 Keller Springs Road,</span><span class="d-block">Suite 204 Carrollton, TX 75006</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map </a>
                      </div>
                    </div>
                  </li>
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">San Jose</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">1464 E. Ridgeline Dr Suite 202,</span><span class="d-block">South Ogden, UT84405</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Dubai-->
          <li class="contct-place__item">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="place-name"> 
                  <h2 class="fnt-50 fnt-800 data-scroll contact-title">Dubai</h2>
                </div>
              </div>
              <div class="col-12 col-md-8 offset-md-1">
                <ul class="px-0 contat-list row">
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Dubai</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">Unit Number 219,</span><span class="d-block">Oasis,Techno Hub 2,</span><span class="d-block">Dubai 443006</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Vietnam-->
          <li class="contct-place__item">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="place-name"> 
                  <h2 class="fnt-50 fnt-800 data-scroll contact-title">Vietnam</h2>
                </div>
              </div>
              <div class="col-12 col-md-8 offset-md-1">
                <ul class="px-0 contat-list row">
                  <li class="contat-list__item col-12 col-md-6 data-scroll">
                    <div class="contact d-flex flex-column p-0">
                      <div class="mb-0"> 
                        <h3 class="fnt-30 fnt-800 mb-1">Ho Chi Minh</h3>
                        <p class="fnt-16 clr-gray mb-2"><span class="d-block">379-383B-385 Cong Hoa Street,</span><span class="d-block">Ward 13, Tan Binh District -72110</span></p>
                      </div>
                      <div class="mt-auto"> 
                        <!-- Embed map adress by https://www.embedgooglemap.net/--><a class="popup-gmaps hvr-line clr-second text-capitalize" href="https://maps.google.com/maps?q=lollypop%20bangalore&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed">See Map  </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>