
<section class="sec-pd sec-paper-detail"> 
  <div class="container">
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="row"> 
          <div class="col-12 col-md-3 col-xxl-2 pe-lg-4 pe-xxl-0 d-none d-md-block">
            <!-- Trending Blogs-->
            <ul class="px-0 trending-blogs sticky-desktop">
              <li class="trending-blogs__item data-scroll"> <a class="d-block" href="javascript:void(0)">
                  <h4 class="fnt-22 fnt-800 mb-2">The future of Public Bicycle Sharing System</h4>
                  <div> <span class="fnt-12 me-4">Published on: 02 SEP 2020</span></div></a></li>
              <li class="trending-blogs__item data-scroll"> <a class="d-block" href="javascript:void(0)">
                  <h4 class="fnt-22 fnt-800 mb-2">Design Innovation in agriculture</h4>
                  <div> <span class="fnt-12 me-4">Published on: 02 SEP 2020</span></div></a></li>
            </ul>
          </div>
          <div class="col-12 col-md-8 offset-md-1 mb-4 mb-md-0">
            <div class="paper-detail">
              <div class="paper-detail__head">
                <div class="paper-head-info">
                  <h2 class="data-scroll"> Preface</h2>
                  <p class="fnt-24 data-scroll"> Over the past few years, the e-commerce industry has grown by leaps and bounds. Advancement in the digital infrastructure has opened a gateway for more and more users to become a part of this revolution. Businesses are now contesting to get the best experience for their customers. Customer and Technology are the drivers of change in the industry</p>
                  <p class="fnt-24 data-scroll"> This paper explores the new trends of e-commerce 2020 that are shaping the</p>
                  <p class="fnt-24 data-scroll"> Demand and need for change are a resultant of 2 forces of the system : 1. Customer 2. Technology. The first segment of the paper focuses on the trends emerging from these two key players.</p>
                  <p class="fnt-24 data-scroll"> Volatile customer demands and the rapid technology advancements pose a grave challenge of designing an E-commerce platform for the audience in 2020. In the second segment, the paper talks about how we can pull in the right strings to get the customer attracted to a platform and continue to keep pace with the dynamic market.</p>
                </div>
                <div class="paper-head-info">
                  <h2 class="data-scroll"> Introduction</h2>
                  <p class="data-scroll"> We have reached a stage where the changing demands of the customers intrinsically drive the success of any business. For Businesses to thrive in such a competitive environment, one should continuously be iterating their brand presence to win the market.</p>
                  <h5 class="data-scroll rd-stroke fnt-20 fnt-500">“Success is inherently tied to anticipating the changing preferences of consumers and delivering an experience consistent with their wants and needs.” – Zach Thomann: executive vice president and general manager, PFS”</h5>
                  <p class="data-scroll"> The story is no different when it comes to the e-commerce business. e-commerce companies are in a state of flux, where each day there is a jump in the number of users going after a variety of products, offers, overall novel experience and improved customer support.</p>
                  <p class="data-scroll"> This race has resulted in companies going an extra mile to win their customers’ loyalty with the seamless customer experience and brand recall. In future, customer behaviour will continue to evolve with advancing technology, and companies will have to sustain by creating relevance for the customer.</p>
                </div>
              </div>
              <div class="paper-detail__body">
                <h2 class="data-scroll"> Emerging trends in e-commerce 2020</h2>
                <h5 class="rd-stroke fnt-20 fnt-500 data-scroll"> “Consumer and technology are the two key players driving e-commerce trends in 2020. The market is in an endless loop where a change in consumer behaviour sparks an impulse on the technology front, leading to new experiences. Likewise, an innovative technological intervention paves the way for new consumer behaviour. Let us now see how these two are shaping the current e-commerce ecosystem.”</h5>
                <!-- Disc point list-->
                <ul class="px-0 paper-disc-list">
                  <li class="paper-disc-list__item"> 
                    <h3 class="data-scroll">
                       1.&nbsp;<span class="d-block">Consumer-driven trends</span></h3>
                    <p class="data-scroll"> Consumer behavior is critical when it comes to designing e-commerce experiences. Not only is the behavior changing rapidly, but also there is an increase in the number of users switching to the online shopping world. The moment we crack the behavior pattern of the users and the way they interact with the system, our job is half done. The more we go deeper into the psychology of buying, the more effective the platform is. Customers have become more specific about what they expect out of a platform. Let us have a look at how the behaviors have been evolving on different platforms.</p>
                    <div class="points-div"> 
                      <div class="row justify-content-between"> 
                        <div class="col-12 col-md-7 mb-4 mb-md-0">
                          <h6 class="data-scroll"> Shoppers are the new marketers</h6>
                          <p class="data-scroll"> Consumers these days look for social proof of how many people have bought a particular product. They seek product reviews that influence their buying decisions. The influencer media is not only restricted to the e-commerce sites but has extended to all the social media platforms as well. Brands are leveraging social media platforms such as Instagram and Facebook to encourage consumers to become active marketers of the products</p>
                        </div>
                        <div class="col-8 col-md-4">
                          <div class="reveal"><img class="img-fluid" src="./img/whitepaper/wpd2.png"/></div>
                        </div>
                      </div>
                    </div>
                    <div class="points-div"> 
                      <h6 class="data-scroll"> Degree of Freedom</h6>
                      <p class="data-scroll"> The moment the customer starts to realize that he is bound to do a certain action, he will withdraw completely from the site and might choose never to visit again. Options are the ways of setting them free and giving them a sense of control while making the purchase decision.</p>
                    </div>
                    <h5 class="rd-stroke fnt-20 fnt-500 data-scroll"> ‘A customer is a free bird and wants to make the purchase on his own terms and conditions.’</h5>
                  </li>
                  <li class="paper-disc-list__item"> 
                    <h3 class="data-scroll">
                       2.&nbsp;<span class="d-block">Consumer-driven trends</span></h3>
                    <h5 class="rd-stroke fnt-20 fnt-500 data-scroll">“A Technology plays a vital role in painting the new face of the e-commerce business. However, it is not just the technology but the appropriation of technology, that creates an impact. According to the trends 2020, here is a pick of technologies that are making way for enriched customer experience.”</h5>
                    <div class="points-div"> 
                      <h6 class="data-scroll">Augmented Reality</h6>
                      <p class="data-scroll">Augmented reality is shaping a new future of the shopping experience and bringing an experiential store to your doorstep. Accessibility of products, stores situated far away all of it is just a click away. Buyers no longer need to visit the store, and instead, they can tap into a virtual world and pick the best for them. The downside of not being able to visualize and feel a product on an online platform is all taken care of by Augmented reality.</p>
                    </div>
                    <h5 class="rd-stroke fnt-20 fnt-500 data-scroll">“Buyers no longer need to visit the store, and instead, they can tap into a virtual world and pick the best for them.”</h5>
                    <div class="points-div">
                      <h6 class="data-scroll">Increasing Use of Voice Search</h6>
                      <p class="data-scroll">As per a forecast done by Loop Ventures, 75% of U.S. households will own a smart speaker by 2025. This trend of increased use of voice search is driving a new behaviour change. From playing their favourite playlist to now buying online products for them, the voice assistants such as Google Home or Amazon Alexa have taken the experience to beyond screens . With more users signing up for voice assistants, the User experience of E-commerce is soon going to see the age of seamless shopping experience which travels beyond screens.</p>
                    </div>
                  </li>
                  <li class="paper-disc-list__item"> 
                    <h3 class="data-scroll">
                       2.&nbsp;<span class="d-block">Design Recommendations</span></h3>
                    <div class="points-div"> 
                      <h6 class="data-scroll"> Have the strategy in place</h6>
                      <p class="data-scroll"> To start with an idea of developing an e-commerce platform, first get a clear picture of what you want out of it, from a business perspective. Start outlining your e-commerce goals based on business objectives.</p>
                      <p class="data-scroll"> Going after retailers and distributors if your focus is growing bigger with distribution.</p>
                      <p class="data-scroll"> Direct customer relationship building that is direct to the consumer (DTC) is the strategy if you want it to be an end-to-end experience</p>
                    </div>
                    <div class="points-div">
                      <h6 class="data-scroll"> Story will do wonders</h6>
                      <p class="data-scroll"> Today’s consumers have already been flooded with a lot of media to consume and we are at that stage of media evolution where the average attention span has gone down significantly. In this scenario, drawing a user towards a captivating experience can be done with stories. Images interwoven with a strong narrative are capable of drawing their attention and creating an emotional connect with the brand and the product</p>
                    </div>
                    <h5 class="rd-stroke fnt-20 fnt-500 data-scroll"> Next time when they visit you, it will no longer be the product, but another story!</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Mobile view-->
          <div class="col-12 d-md-none">
            <!-- Trending Blogs-->
            <ul class="px-0 trending-blogs sticky-desktop">
              <li class="trending-blogs__item data-scroll"> <a class="d-block" href="javascript:void(0)">
                  <h4 class="fnt-22 fnt-800 mb-2">The future of Public Bicycle Sharing System</h4>
                  <div> <span class="fnt-12 me-4">Published on: 02 SEP 2020</span></div></a></li>
              <li class="trending-blogs__item data-scroll"> <a class="d-block" href="javascript:void(0)">
                  <h4 class="fnt-22 fnt-800 mb-2">Design Innovation in agriculture</h4>
                  <div> <span class="fnt-12 me-4">Published on: 02 SEP 2020</span></div></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>