
<section class="lp-index sec-pd pb-0" id="one">
  <div class="container">
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-md-11 offset-md-1">
            <div class="mb-60">
              <div class="mb-45 multi-line-text">
                <h1 class="fnt-60 fnt-800 col-xl-11 px-0 red-stroke red-stroke--small px-0"> We’re a global design agency building experiences that</h1>
                <div class="rw-wrapper">
                  <div class="rw-sentence">
                    <div class="rw-words rw-words-2 position-relative"><span class="fnt-60 fnt-800 d-block">users fall in love</span><span class="fnt-60 fnt-800 d-block">scale businesses </span><span class="fnt-60 fnt-800 d-block">win hearts and awards</span></div>
                  </div>
                </div>
              </div>
              <ul class="lp-number-list ps-0">
                <li class="lp-number-list__item"><span class="fnt-18 lp-number-title">One Billion </span>
                  <p class="fnt-14">Users Touched</p>
                </li>
                <li class="lp-number-list__item"><span class="fnt-18 lp-number-title">30+ </span>
                  <p class="fnt-14">Awards</p>
                </li>
                <li class="lp-number-list__item"><span class="fnt-18 lp-number-title">300+ </span>
                  <p class="fnt-14">Clients</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-4">
            <div class="lp-video-wrap">
              <video id="player" playsinline="" muted="true" controls="false" data-poster="" preload="preload" autoplay="autoplay">
                <source src="./img/media/showcase2.mp4" type="video/mp4"/>
                <!-- Captions are optional-->
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>