
<!-- OUR SERVICES LIST-->
<section class="sec-pd" id="second">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7 mx-auto">
        <div class="lp-our-services mb-50">
          <h2 class="fnt-50 fnt-800 mb-2 pb-lg-1 data-scroll"> <span class="d-md-block">From idea to launch here is </span><span class="d-md-block">what we can help</span></h2><span class="fnt-24 col-md-11 col-lg-10 px-0 d-block data-scroll"> From Fortune 500 companies to startups we have worked with every brilliant ideas</span>
        </div>
        <div class="row flex-column">
          <div class="col-12">
            <h3 class="h3 mt-4 pt-1 mt-lg-4 mb-0 data-scroll">Research</h3>
          </div>
          <div class="col-12">
            <ul class="lp-block-list ps-0 data-scroll">
              <li class="lp-block-list__item">
                <ul class="lp-list row row-cols-lg-2 flex-md-row">
                  <li class="lp-list__item col-6 col-md-6">Usability Testing</li>
                  <li class="lp-list__item col-6 col-md-6">Usability Testing</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Design Audit</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <h3 class="h3 mt-4 pt-1 mt-lg-4 mb-0 data-scroll">Design</h3>
          </div>
          <div class="col-12">
            <ul class="lp-block-list ps-0 data-scroll">
              <li class="lp-block-list__item">
                <ul class="lp-list row row-cols-lg-2 flex-md-row">
                  <li class="lp-list__item col-6 col-md-6">Usability Testing</li>
                  <li class="lp-list__item col-6 col-md-6">Usability Testing</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Design Audit</li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <h3 class="h3 mt-4 pt-1 mt-lg-4 mb-0 data-scroll">Build</h3>
          </div>
          <div class="col-12">
            <ul class="lp-block-list ps-0 data-scroll">
              <li class="lp-block-list__item">
                <ul class="lp-list row row-cols-lg-2 flex-md-row">
                  <li class="lp-list__item col-6 col-md-6">Usability Testing</li>
                  <li class="lp-list__item col-6 col-md-6">Usability Testing</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Ethnographic Research</li>
                  <li class="lp-list__item col-6 col-md-6">Design Audit</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>