
<section class="sec-pd sec-pb" id="fourth">
  <div class="container">
    <div class="pb-4 pb-lg-5 mb-lg-5">
      <div class="row"> 
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
          <div class="row">
            <div class="col-12 mb-50">
              <h2 class="fnt-50 fnt-800 mb-3 mb-md-2 pb-lg-1 data-scroll col-md-10 col-xl-8 px-0">Here are our recent top clients/partners</h2><span class="fnt-24 mb-2 mb-md-0 col-md-8 d-block col-lg-6 px-0 data-scroll">From Fortune 500 companies to startups we have worked with every brilliant ideas</span>
            </div>
            <div class="col-12">
              <div class="fluid-mb">
                <div class="row mb-45 single-mb-slider">
                  <div class="col-6 col-md-4 lp-thumbnial lp-thumbnial--sm d-md-flex mb-md-4 mb-lg-0">
                    <div class="lp-thumbnial__info data-scroll client-cards border-0 align-items-start text-center lp-thumbnial-borderlft"><img class="mx-auto mb-4" src="./img/icons/our-clients/youtube.svg" alt="Youtube image"/>
                      <div class="lp-thumbnial__body pt-2 pt-md-4">
                        <h6 class="lp-thumbnial__heading">Vodafone</h6>
                        <p class="lp-thumbnial__text mb-0">Design partner responible for all designing all digital touch points</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 lp-thumbnial lp-thumbnial--sm d-md-flex mb-md-4 mb-lg-0">
                    <div class="lp-thumbnial__info data-scroll client-cards border-0 align-items-start text-center lp-thumbnial-borderlft"><img class="mx-auto mb-4" src="./img/icons/our-clients/linkdin.svg" alt="Linkdin image"/>
                      <div class="lp-thumbnial__body pt-2 pt-md-4">
                        <h6 class="lp-thumbnial__heading">Vodafone</h6>
                        <p class="lp-thumbnial__text mb-0">Design partner responible for all designing all digital touch points</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 lp-thumbnial lp-thumbnial--sm d-md-flex mb-md-4 mb-lg-0">
                    <div class="lp-thumbnial__info data-scroll client-cards border-0 align-items-start text-center lp-thumbnial-borderlft"><img class="mx-auto mb-4" src="./img/icons/our-clients/youtube.svg" alt="Youtube image"/>
                      <div class="lp-thumbnial__body pt-2 pt-md-4">
                        <h6 class="lp-thumbnial__heading">Vodafone</h6>
                        <p class="lp-thumbnial__text mb-0">Design partner responible for all designing all digital touch points</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-wrap data-scroll"><span class="fnt-14 me-3">+240 happy clients</span><a class="lp-link lp-link--pri hvr-line" href="clients.html">See all clients</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>