
<!-- AWARS MIXIN-->
<!-- AWARS-->
<section class="sec-pd sec-pt sec-pb" id="fifth" style="background: #221429;">
  <div class="container z-1">
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto mb-4 pb-2 mb-md-0 pb-md-0">
        <div class="row mb-45 justify-content-between">
          <div class="col-md-6 col-lg-7 mb-4 mb-md-0"> 
            <div class="lp-awards__left">
              <h2 class="fnt-50 l-3 clr-white fnt-800 data-scroll">A culture driven design studio</h2><span class="fnt-24 clr-white my-4 d-block max-width-480 data-scroll">180 creative minds spread across 5 countries touching billions of lives through design.</span>
            </div>
            <div class="px-0 d-flex flex-wrap culture-slider-nav mb-35 data-scroll"><a class="culture-slider-nav__item hvr hvr--white fnt-16 fnt-400 clr-white" href="#">India</a><a class="culture-slider-nav__item hvr hvr--white fnt-16 fnt-400 clr-white" href="#">USA</a><a class="culture-slider-nav__item hvr hvr--white fnt-16 fnt-400 clr-white" href="#">Dubai</a><a class="culture-slider-nav__item hvr hvr--white fnt-16 fnt-400 clr-white" href="#">Vietnam</a></div><a class="clr-second fnt-14 hvr-line mb-4 mb-lg-0 d-inline-block data-scroll" href="about-us.html">Learn more about us</a>
          </div>
          <div class="col-12 col-md-3">
            <div class="lp-awards__right text-lg-center data-scroll h-100 d-flex align-items-center justify-content-md-end">
              <div class="d-inline-block ml-md-auto"><img class="icon-awards" src="./img/homepage/awards.svg" alt="Awards"/>
                <div class="d-flex flex-column mx-lg-auto">
                  <h5 class="fnt-16 my-2 clr-white">DNA Paris Design Winner</h5>
                  <p class="fnt-12 max-width-100 mx-lg-auto clr-white">DNA Paris Design Award, 2021</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fluid-width">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-2 px-md-0">
        <ul class="px-0 lp-awards-list d-flex four-card-slider">
          <li class="lp-awards-list__item col-12">
            <div class="award-info"><img class="img mb-3" src="./img/homepage/studio-bangalore.png"/>
              <div class="col-12 col-md-8 px-0"><span class="fnt-14 clr-white d-block mb-1">Bangalore, India</span><span class="d-block mb-0 fnt-18 clr-white">Team in action, discussing design challenges</span></div>
            </div>
          </li>
          <li class="lp-awards-list__item col-12">
            <div class="award-info"><img class="img mb-3" src="./img/homepage/studio.png"/>
              <div class="col-12 col-md-8 px-0"><span class="fnt-14 clr-white d-block mb-1">Hochi Minh, Vietnam</span><span class="d-block mb-0 fnt-18 clr-white">Team in action, discussing design challenges</span></div>
            </div>
          </li>
          <li class="lp-awards-list__item col-12">
            <div class="award-info"><img class="img mb-3" src="./img/homepage/studio.png"/>
              <div class="col-12 col-md-8 px-0"><span class="fnt-14 clr-white d-block mb-1">Dubai</span><span class="d-block mb-0 fnt-18 clr-white">Team in action, discussing design challenges</span></div>
            </div>
          </li>
          <li class="lp-awards-list__item col-12">
            <div class="award-info"><img class="img mb-3" src="./img/homepage/studio.png"/>
              <div class="col-12 col-md-8 px-0"><span class="fnt-14 clr-white d-block mb-1">Hochi Minh, Vietnam</span><span class="d-block mb-0 fnt-18 clr-white">Team in action, discussing design challenges</span></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>