
<section class="sec-pd sec-md-pt" id="sixth">
  <div class="container">
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <div class="mb-90 data-scroll">
          <h2 class="fnt-50 fnt-800 mb-16">We have covered all industries across the domain</h2><span class="fnt-24 col-md-10 col-lg-9 px-0">From Fortune 500 companies to startups we have worked with every brilliant ideas</span>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <ul class="indutstry-list px-0 ul-mb-60 row justify-content-between"> 
          <li class="indutstry-list__item col-12 col-md-6 data-scroll"> 
            <div class="industry col-10 col-md-11 col-lg-10 col-xl-8 px-0"> 
              <h3 class="fnt-22 fnt-800 mb-2">
                 Healthcare and <span class="d-md-block">wellness</span></h3>
              <p class="mb-22">From Fortune 500 companies to startups we have worked with every brilliant ideas</p>
              <div class="fade-img">
                <div class="fade-img__item"><img class="img-fluid" src="./img/homepage/industry-ytb.svg"/></div>
                <div class="fade-img__item"><img class="img-fluid" src="./img/icons/our-clients/linkdin.svg"/></div>
                <div class="fade-img__item"><img class="img-fluid" src="./img/homepage/industry-ytb.svg"/></div>
              </div>
            </div>
          </li>
          <li class="indutstry-list__item col-12 col-md-6 data-scroll"> 
            <div class="industry col-10 col-md-11 col-lg-10 col-xl-8 px-0"> 
              <h3 class="fnt-22 fnt-800 mb-2">
                 Fintech and 
                <spam class="d-md-block">Banking</spam>
              </h3>
              <p class="mb-22">From Fortune 500 companies to startups we have worked with every brilliant ideas</p><img class="img-fluid" src="./img/homepage/industry-ytb.svg"/>
            </div>
          </li>
          <li class="indutstry-list__item col-12 col-md-6 data-scroll"> 
            <div class="industry col-10 col-md-11 col-lg-10 col-xl-8 px-0"> 
              <h3 class="fnt-22 fnt-800 mb-2">
                 Agritech and <span class="d-md-block">Supply chain</span></h3>
              <p class="mb-22">From Fortune 500 companies to startups we have worked with every brilliant ideas</p><img class="img-fluid" src="./img/homepage/industry-ytb.svg"/>
            </div>
          </li>
          <li class="indutstry-list__item col-12 col-md-6 data-scroll"> 
            <div class="industry col-10 col-md-11 col-lg-10 col-xl-8 px-0"> 
              <h3 class="fnt-22 fnt-800 mb-2">
                 Media and <span class="d-md-block">Entertainment</span></h3>
              <p class="mb-22">From Fortune 500 companies to startups we have worked with every brilliant ideas</p><img class="img-fluid" src="./img/homepage/industry-ytb.svg"/>
            </div>
          </li>
        </ul><a class="clr-second fnt-14 hvr-line data-scroll" href="#">See all sectors</a>
      </div>
    </div>
  </div>
</section>