
<!-- INDUSTRY TAB MIXIN-->
<!-- INDUSTRY TAB CONTENT MIXIN-->
<!-- INDUSTRY-->
<section class="py-140 data-scroll panel" data-color="white">
  <div class="container">
    <div class="px-container">
      <div class="row pb-3 pb-md-5 mb-md-3">
        <div class="col-xl-7 offset-xl-4 pb-3 pb-lg-0">
          <div class="col-xxl-11"><span class="section-title mb-3">Industries</span>
            <h2 class="h2 mb-2 mb-lg-3">From healthcare to e-commerce we have covered all</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-start justify-content-evenly flex-column flex-md-row-reverse">
          <div class="col-12 col-md-2 lp-pills-tab nav flex-column nav-pills me-3" id="lp-pills-tab" role="tablist" aria-orientation="vertical">                   <a class="fnt-18 nav-link active" href="#" data-bs-toggle="pill" data-bs-target="#v-pills-one" type="button" role="tab" aria-controls="v-pills-one" aria-selected="true">Healthcare and wellness</a><a class="fnt-18 nav-link" href="#" data-bs-toggle="pill" data-bs-target="#v-pills-two" type="button" role="tab" aria-controls="v-pills-two" aria-selected="true">Retail &amp; E-commerce</a><a class="fnt-18 nav-link" href="#" data-bs-toggle="pill" data-bs-target="#v-pills-three" type="button" role="tab" aria-controls="v-pills-three" aria-selected="true">Agritech &amp; Supply Chain</a><a class="fnt-18 nav-link" href="#" data-bs-toggle="pill" data-bs-target="#v-pills-four" type="button" role="tab" aria-controls="v-pills-four" aria-selected="true">Media &amp; Entertainment</a>
            <div class="d-none d-xl-block"><a class="lp-link lp-link--pri hvr-line" href="javascript:void(0);">View all sectors</a></div>
          </div>
          <div class="col-12 col-md-8 lp-pills-tabContent tab-content" id="lp-pills-tabContent">                   
            <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">
              <!-- ONLY MOBILE-->
              <div class="d-block d-xl-none">
                <div class="row align-items-center justify-content-evenly">
                  <div class="col-6 pe-1">
                    <div class="bg-shadow bg-shadow--top"><img class="img-h-fit" src="./img/homepage/Industries/a2.png" alt="Image 1" data-aos="zoom-in-down" data-aos-duration="500"/></div>
                  </div>
                  <div class="col-6 ps-1">
                    <div class="bg-shadow bg-shadow--bottom"><img class="img-h-fit img-h-fit--h" src="./img/homepage/Industries/a2.png" alt="Image 2" data-aos="zoom-in-down" data-aos-duration="500"/></div>
                  </div>
                  <div class="col-12 pe-0">
                    <div class="card bg-bodymain mb-4 gap-4 p-3 border-0">
                      <div class="card-body ps-0">
                        <h6 class="title fnt-800">Healthcare &amp; Wellness</h6>
                        <p class="fnt-16">We have designed solutions for EMR, HMIS, Doctor appointment platform, patient engagement to Fitness Apps.</p><a class="lp-link lp-link--sm hvr-line hvr-line--black" href="/sectors.html">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ONLY DESKTOP-->
              <div class="d-none d-xl-block">
                <div class="row align-items-center justify-content-evenly">
                  <div class="col-12 col-md-6">
                    <div class="bg-shadow bg-shadow--top"><img class="img-h-fit" src="./img/homepage/Industries/a2.png" alt="Image 1" data-aos="zoom-in-down" data-aos-duration="500"/></div>
                  </div>
                  <div class="col-12 col-md-6 pe-0">
                    <div class="card bg-bodymain mb-4 gap-4 p-3 border-0">
                      <div class="card-body">
                        <h6 class="title fnt-800">Healthcare &amp; Wellness</h6>
                        <p class="fnt-16">We have designed solutions for EMR, HMIS, Doctor appointment platform, patient engagement to Fitness Apps.</p><a class="lp-link lp-link--sm hvr-line hvr-line--black" href="/sectors.html">READ MORE</a>
                      </div>
                    </div>
                    <div class="bg-shadow bg-shadow--bottom"><img class="img-h-fit img-h-fit--h" src="./img/homepage/Industries/a2.png" alt="Image 2" data-aos="zoom-in-down" data-aos-duration="500"/></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
              <!-- ONLY MOBILE-->
              <div class="d-block d-xl-none">
                <div class="row align-items-center justify-content-evenly">
                  <div class="col-6 pe-1">
                    <div class="bg-shadow bg-shadow--top"><img class="img-h-fit" src="./img/homepage/Industries/b1.jpg" alt="Image 1" data-aos="zoom-in-down" data-aos-duration="500"/></div>
                  </div>
                  <div class="col-6 ps-1">
                    <div class="bg-shadow bg-shadow--bottom"><img class="img-h-fit img-h-fit--h" src="./img/homepage/Industries/b2.jpg" alt="Image 2" data-aos="zoom-in-down" data-aos-duration="500"/></div>
                  </div>
                  <div class="col-12 pe-0">
                    <div class="card bg-bodymain mb-4 gap-4 p-3 border-0">
                      <div class="card-body ps-0">
                        <h6 class="title fnt-800">Retail &amp; E-commerce Application</h6>
                        <p class="fnt-16">We have designed solutions for Retail &amp; E-commerce platform, Retail engagement to Apps.</p><a class="lp-link lp-link--sm hvr-line hvr-line--black" href="/sectors.html">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ONLY DESKTOP-->
              <div class="d-none d-xl-block">
                <div class="row align-items-center justify-content-evenly">
                  <div class="col-12 col-md-6">
                    <div class="bg-shadow bg-shadow--top"><img class="img-h-fit" src="./img/homepage/Industries/b1.jpg" alt="Image 1" data-aos="zoom-in-down" data-aos-duration="500"/></div>
                  </div>
                  <div class="col-12 col-md-6 pe-0">
                    <div class="card bg-bodymain mb-4 gap-4 p-3 border-0">
                      <div class="card-body">
                        <h6 class="title fnt-800">Retail &amp; E-commerce Application</h6>
                        <p class="fnt-16">We have designed solutions for Retail &amp; E-commerce platform, Retail engagement to Apps.</p><a class="lp-link lp-link--sm hvr-line hvr-line--black" href="/sectors.html">READ MORE</a>
                      </div>
                    </div>
                    <div class="bg-shadow bg-shadow--bottom"><img class="img-h-fit img-h-fit--h" src="./img/homepage/Industries/b2.jpg" alt="Image 2" data-aos="zoom-in-down" data-aos-duration="500"/></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-block d-xl-none"><a class="lp-link lp-link--pri hvr-line" href="javascript:void(0);">View all sectors</a></div>
        </div>
      </div>
    </div>
  </div>
</section>