
<section class="sec-pd sec-pb bg-white" id="seventh">
  <div class="container">
    <div class="pb-md-4 pb-lg-5 mb-lg-5"> 
      <div class="row"> 
        <div class="col-md-10 col-lg-8 mx-auto">
          <div class="mb-90 data-scroll">
            <h2 class="fnt-50 fnt-800 mb-16">Blogs & Whitepapers</h2><span class="fnt-24 col-md-10 col-lg-9 px-0">From startups to known brands we have many stories to tell</span>
          </div>
          <!-- White papers-->
          <ul class="px-0 home-artical-list">
            <li class="home-artical-list__item"> <a class="home-artical" href="whitepaper-detail.html">
                <div class="row">
                  <div class="col-6 col-md-3 col-lg-2"><span class="text-uppercase d-block d-md-none mb-2 fnt-12 fnt-800">white paper</span>
                    <div class="reveal"> <img class="img-fluid home-artical-img mb-3 mb-md-0" src="./img/homepage/artical1.png"/></div>
                  </div>
                  <div class="col-12 col-md-8 col-xl-7">
                    <div class="px-lg-4"><span class="text-uppercase d-none d-md-block mb-2 fnt-12 fnt-800">white paper</span>
                      <h3 class="fnt-30 fnt-800 mb-2 pb-lg-1">Disrupting the future of E- Commerce through design </h3>
                      <p class="clr-gray col-lg-11 mt-1 mt-md-0 mb-1 mb-md-3">Consumer & Technology are two key players that are reshaping the E-commerce landscape. Let’s find out how design serves as the strategic linchpin in bringing consumer and technology closer.</p><span class="d-block fnt-12">Published on: 02 SEP 2020</span>
                    </div>
                  </div>
                </div></a></li>
          </ul>
          <!-- Blogs-->
          <ul class="px-0 home-artical-list">
            <li class="home-artical-list__item"> <a class="home-artical" href="blog-detail.html">
                <div class="row">
                  <div class="col-6 col-md-3 col-lg-2"><span class="text-uppercase d-block d-md-none mb-2 fnt-12 fnt-800">white paper</span>
                    <div class="reveal"><img class="img-fluid home-artical-img mb-3 mb-md-0" src="./img/homepage/artical1.png"/></div>
                  </div>
                  <div class="col-12 col-md-8 col-xl-7">
                    <div class="px-lg-4"><span class="text-uppercase d-none d-md-block mb-2 fnt-12 fnt-800">blog</span>
                      <h3 class="fnt-30 fnt-800 mb-2 pb-lg-1">Designing for nextgen government portals MENA region</h3>
                      <p class="clr-gray col-lg-11 mt-1 mt-md-0 mb-1 mb-md-3">Our predictions for illustration trends for 2021. Through this blog, we …</p><span class="d-block fnt-12">On: 02 SEP 2020</span>
                    </div>
                  </div>
                </div></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>