
<section class="py-140 pt-0" id="eight">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 offset-lg-1">
        <div class="row g-lg-5 align-items-md-center">
          <div class="col-12 col-xl-7 mb-4 mb-lg-0">
            <div class="lp-hero-box lp-hero-box--blog data-scroll"><span class="fnt-12 fnt-800">WHITE PAPER</span>
              <h3 class="h3 mt-md-4">Disrupting the future of E- Commerce through design</h3>
              <p class="fnt-14 lp-blg-des">Consumer & Technology are two key players that are reshaping the E-commerce landscape. Let’s find out how design serves as the strategic linchpin in bringing consumer and technology closer.</p><span class="lp-publish fnt-14 mt-3">Published on: 02 SEP 2020</span>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="lp-card-group data-scroll">
              <div class="lp-card-article">
                <h5 class="lp-card-article__heading">Top 7 illustration trends 2021</h5>
                <p class="fnt-14 lp-blg-des">Our predictions for illustration trends for 2021. Through this blog, we …</p><span class="lp-publish fnt-14">By Vikas on Apr 02</span>
              </div>
              <div class="lp-card-article">
                <h5 class="lp-card-article__heading">Designing for nextgen government portals MENA region</h5>
                <p class="fnt-14 lp-blg-des">Our predictions for illustration trends for 2021. Through this blog, we …</p><span class="lp-publish fnt-14">By Vikas on Apr 02</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>