
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 m-padding">
        <ul class="lp-list-slider" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
          <li>
            <div class="list-card px-3">
              <div class="img-c"><img src="img/homepage/list-3.png" alt="img"/></div>
              <div class="desc">
                <h6>$1,995,000</h6>
                <p>520 West, 50th Street Unit C1 Hudson Yards</p>
              </div>
            </div>
          </li>
          <li>
            <div class="list-card px-3">
              <div class="img-c"><img src="img/homepage/list-3.png" alt="img"/></div>
              <div class="desc">
                <h6>$1,995,000</h6>
                <p>520 West, 50th Street Unit C1 Hudson Yards</p>
              </div>
            </div>
          </li>
          <li>
            <div class="list-card px-3">
              <div class="img-c"><img src="img/homepage/list-3.png" alt="img"/></div>
              <div class="desc">
                <h6>$1,995,000</h6>
                <p>520 West, 50th Street Unit C1 Hudson Yards</p>
              </div>
            </div>
          </li>
          <li>
            <div class="list-card px-3">
              <div class="img-c"><img src="img/homepage/list-3.png" alt="img"/></div>
              <div class="desc">
                <h6>$1,995,000</h6>
                <p>520 West, 50th Street Unit C1 Hudson Yards</p>
              </div>
            </div>
          </li>
        </ul>
        <div data-aos="fade-up" data-aos-duration="800" data-aos-delay="200"><a class="lp-bttn trans m-auto m-md-0" href="javascript:void(0);"> More Listings  </a></div>
      </div>
    </div>
  </div>
</section>