
<!-- Section Banner-->
<section class="sec-sm-pd sec-bnr-ptsm">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto car-bnr"> 
        <div class="d-flex flex-column align-items-center justify-content-center text-center"><img class="img-fluid mb-40" src="./img/career/employ.png" alt="career-artist" data-aos="zoom-in-down" data-aos-duration="2000"/>
          <div class="mb-40"><span class="d-block fnt-14 mb-1 mb-md-2" data-aos="fade-up" data-aos-duration="500">Job Detail</span>
            <h1 class="fnt-50 fnt-800" data-aos="fade-up" data-aos-duration="1000">Sr. UI Designer</h1>
          </div>
          <div data-aos="fade-up" data-aos-duration="1500"> <span class="fnt-16 fnt-800">LOCATION</span>
            <p class="fnt-16m-0">Bangalore, Chennai, Mumbai, Vietnam</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>