
<section class="sec-sm-pd">
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto"> 
        <div class="row"> 
          <div class="col-12 col-md-8 mb-4 pb-2 mb-md-0 pb-md-0"> 
            <div class="job-detail">
              <div class="job-detail__item">
                <h2 class="data-scroll">Job Introduction</h2>
                <p class="data-scroll">Lollypop is looking for senior designers who are interested in creating trends and thrive on details. Applicants with strong interest in creating user interface applications with pixel perfect look, feel designs and implementation guides are the ones for us. The ideal candidate should have an eye for clean and artful design, possess superior UI skills and be able to translate high-level requirements into interaction flows and artifacts, and transform them into beautiful, intuitive, and functional user interfaces.</p>
                <p class="data-scroll">You should be excited about research and analysis and also be open-minded with an unquenchable thirst for new approaches and solutions to real-world problems faced by a common man.</p>
              </div>
              <div class="job-detail__item">
                <h2 class="data-scroll">Your Mission</h2>
                <ul>
                  <li class="data-scroll">Design, Design & Design.</li>
                  <li class="data-scroll">From a brief, produce concepts for layouts and develop these concepts based on feedback given.</li>
                  <li class="data-scroll">Finish designs to a highly-detailed, professional level.</li>
                  <li class="data-scroll">Create wireframe specifications (complete with annotation) for developers to implement.</li>
                  <li class="data-scroll">Work with developers to communicate specs, ensure correct implementation and work through any problems encountered.</li>
                  <li class="data-scroll">Design web, mobile and tablet friendly applications.</li>
                  <li class="data-scroll"> Visual design definition, direction and execution.</li>
                  <li class="data-scroll"> A designer with a holistic approach to design, who is able to draw on key insights from different parts of an organization.</li>
                </ul>
              </div>
              <div class="job-detail__item">
                <h2 class="data-scroll">Super Powers You Will Need</h2>
                <ul>
                  <li class="data-scroll">5+ years of experience.</li>
                  <li class="data-scroll">Solid knowledge of design theory, especially principles of logo, graphic/ UI design and usability.</li>
                  <li class="data-scroll">A keen aesthetic sensibility, with an eye for crafting visually appealing designs to high levels of detail.</li>
                  <li class="data-scroll">Strong interpersonal and communication skills.</li>
                  <li class="data-scroll">A people person and leader who knows how to get people involved and motivate them to collaborate in design discussions.</li>
                  <li class="data-scroll">Hands-on knowledge of Adobe Creative Suite (especially Photoshop and Illustrator), CSS and HTML, JavaScript skills.</li>
                  <li class="data-scroll">A good listener and facilitator who knows how to facilitate constructive design discussions.</li>
                  <li class="data-scroll">Sense of humor & lots of it!</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="sticky-desktop d-flex justify-content-center justify-content-md-end"> <a class="data-scroll d-inline-block web-btn web-btn--red" href="#">Apply now!     </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>