
<section class="sec-pd pb-0 sec-bnr-ptsm">
  <div class="container"> 
    <div class="row">
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="row"> 
          <div class="col-12 col-md-11 offset-md-1">
            <div class="page-head"><span class="d-block fnt-14 text-capitalize mb-2 clr-default">Whitepaper</span>
              <h1 class="fnt-78 fnt-800 mb-3 mb-md-4 red-stroke red-stroke--small13 px-md-0">
                 Stay inspired with<span class="d-block">our Whitepapers.</span></h1>
              <p class="fnt-24 col-md-10 px-0">Keep up with the changing technology, user's behaviour and design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>