
<!-- Cards-->
<section class="sec-pd"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <ul class="px-0 image-text-list">
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500"> 
            <div class="row">
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/whitepaper/w1.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">E-COMMERCE</span></div>
                  <div class="mb-3">
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Disrupting the future  of E- Commerce through design</h3>
                    <p class="fnt-16 data-scroll">Consumer & Technology are two key players that are reshaping the E-commerce landscape. Let's find out how design serves as the strategic linchpin in bringing consumer and technology closer.</p>
                  </div>
                  <div class="mb-2 mb-md-3"> <span class="fnt-12 d-block data-scroll">Published on: 02 SEP 2020</span></div>
                  <div> <a class="hvr-line text-capitalize fnt-14 clr-second data-scroll" href="#">view paper</a></div>
                </div>
              </div>
            </div>
          </li>
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/whitepaper/w2.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">PUBLIC BICYCLE SHARING</span></div>
                  <div class="mb-3">
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">The future of Public Bicycle Sharing System</h3>
                    <p class="fnt-16 data-scroll">Public Bicycle Sharing system can be a smart and healthy option to combat traffic.</p>
                  </div>
                  <div class="mb-2 mb-md-3"> <span class="fnt-12 d-block data-scroll">Published on: 02 SEP 2020</span></div>
                  <div class="mt-auto"> <a class="hvr-line text-capitalize fnt-14 clr-second data-scroll" href="#">view paper</a></div>
                </div>
              </div>
            </div>
          </li>
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500">
            <div class="row"> 
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/whitepaper/w3.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">EMPOWERING FARMERS</span></div>
                  <div class="mb-3">
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Design Innovation in agriculture</h3>
                    <p class="fnt-16 data-scroll">It's only by spending time with farmers we could know the real pain points that can have digital solutions</p>
                  </div>
                  <div class="mb-2 mb-md-3"> <span class="fnt-12 d-block data-scroll">Published on: 02 SEP 2020</span></div>
                  <div class="mt-auto"> <a class="hvr-line text-capitalize fnt-14 clr-second data-scroll" href="#">view paper</a></div>
                </div>
              </div>
            </div>
          </li>
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500">
            <div class="row"> 
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/whitepaper/w4.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">HEALTHTECH AND DESIGN</span></div>
                  <div class="mb-3">
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Reimagining the future of healthtech with design</h3>
                    <p class="fnt-16 data-scroll">Let's imagine the possibilities of healthcare together.</p>
                  </div>
                  <div class="mb-2 mb-md-3"> <span class="fnt-12 d-block data-scroll">Published on: 02 SEP 2020</span></div>
                  <div class="mt-auto"> <a class="hvr-line text-capitalize fnt-14 clr-second data-scroll" href="#">view paper</a></div>
                </div>
              </div>
            </div>
          </li>
          <li class="image-text-list__item" data-aos="fade-up" data-aos-duration="500">
            <div class="row"> 
              <div class="col-12 col-md-6 col-lg-5"> 
                <div class="img reveal"><img src="./img/whitepaper/w5.png"/></div>
              </div>
              <div class="col-12 col-md-6"> 
                <div class="text">
                  <div class="mb-3"> <span class="data-scroll d-block text-uppercase fnt-12 fnt-800">FINTECH</span></div>
                  <div class="mb-3">
                    <h3 class="fnt-30 fnt-800 mb-2 data-scroll">Empowering Mutual Funds with Design</h3>
                    <p class="fnt-16 data-scroll">An introduction to the world of Mutual Funds, the market scenario, tech savviness of today's investors, opportunities in mutual funds and insights from research</p>
                  </div>
                  <div class="mb-2 mb-md-3"> <span class="fnt-12 d-block data-scroll">Published on: 02 SEP 2020</span></div>
                  <div class="mt-auto"> <a class="hvr-line text-capitalize fnt-14 clr-second data-scroll" href="#">view paper</a></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>