
<!--SUbscribe-->
<section class="sec-footer-trans">
  <div class="container z-1">
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="py-70 px-3 data-scroll" style="background: #221429;">
          <div class="d-flex align-items-center justify-content-center">
            <div class="col-12 col-md-8 px-0 d-inline-block clr-white text-center"> 
              <div class="mb-45 pb-lg-3"><span class="d-block fnt-24 mb-2 pb-2 mb-md-4 pb-md-0">Want to read more?</span>
                <h2 class="fnt-50 fnt-800 clr-white">All the whitepapers straight into your inbox.</h2>
              </div>
              <form data-parsley-validate="">
                <div class="subscribe-input col-12 mx-auto col-md-10 col-lg-8 px-0 d-flex flex-column flex-md-row align-items-center">
                  <input class="fnt-16 fnt-400" type="email" placeholder="Your Email Address" required="required"/>
                  <button class="web-btn web-btn--red subscribe-input__btn hvr-none" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>