
<!-- Blog banner-->
<section class="sec-pd sec-blog pb-mb-0" data-aos="fade-up" data-aos-duration="3000"> 
  <div class="container">
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="col-12 col-md-10 col-lg-10 offset-md-1 px-0 mb-head"><span class="d-block fnt-14 clr-default mb-2">Blogs</span>
          <div>
            <h1 class="fnt-50 fnt-800 mb-3">How good design helps businesses grow in Vietnam.</h1>
            <div> <span class="fnt-12 me-3">By Vikas on May 13</span><span class="tick-sapn fnt-12">6 Min read</span></div>
          </div>
        </div>
        <div class="position-relative">
          <div class="reveal"><img class="img-fluid blog-d-img mb-0" src="./img/blog/blog-detail.png"/></div>
        </div>
      </div>
    </div>
  </div>
</section>