
<!-- Blog banner-->
<section class="sec-pd" data-aos="fade-up" data-aos-duration="3000"> 
  <div class="container pb-md-4">
    <div class="row"> 
      <div class="col-12 col-md-11 col-lg-10 mx-auto">
        <div class="col-12 col-md-6 col-lg-6 offset-md-1 px-0 mb-head"><span class="d-block fnt-14 mb-2">blogs</span>
          <div class="red-stroke red-stroke--small12">
            <h1 class="fnt-50 fnt-800">By designers for the community</h1>
          </div>
        </div>
        <div class="blog-main-img position-relative">
          <div class="reveal"> <img class="img-fluid" src="./img/blog/blog-bnr.png"/></div>
          <div class="blog-info col-12 col-md-5 col-xl-4 px-0">
            <div class="d-flex flex-column p-3 bg-white">
              <div> <span class="fnt-14 d-block mb-2">By Vikas Yadav on Apr 02</span>
                <h3 class="fnt-28 fnt-800">Top 7 Illustration trends 2021</h3>
                <p>Our predictions for illustration trends for 2021. Through this blog, we bring you the top 7 trends that we think will be.</p>
              </div>
              <div class="mt-auto"> <a class="lp-link fnt-14 lp-link--pri text-capitalize hvr-line" href="blog-detail.html">read more</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>