
<!-- Faqs-->
<ul class="faqs px-0">
  <li class="faqs__item data-scroll">
    <div class="d-flex">
      <h3 class="faq fnt-28 fnt-800">1.&nbsp;</h3>
      <div class="col-10 px-0">
        <h3 class="faq fnt-28 fnt-800 d-inline-block">Why have you named your company as Lollypop?</h3>
        <p>The credit is crowned to Yuvan, Anil’s son for helping us with this beautiful name. We were breaking our heads, ideating for a suitable name be and suddenly Yuvan pronounced Lollypop. He not only captured our attention but our imagination as well. Lollypop is everything that we wanted our brand to communicate; designing experiences that leave a sweet mark on your life and hence Lollypop came into being!.</p>
      </div>
    </div>
  </li>
  <li class="faqs__item data-scroll">
    <div class="d-flex"> 
      <h3 class="faq fnt-28 fnt-800">2.&nbsp;</h3>
      <div class="col-10 px-0">
        <h3 class="faq fnt-28 fnt-800 d-inline-block">Where is Lollypop headquartered? Do you have more branches?</h3>
        <p>Lollypop is headquartered out of Bangalore and has branches in Mumbai and Chennai.</p>
      </div>
    </div>
  </li>
  <li class="faqs__item data-scroll">
    <div class="d-flex">
      <h3 class="faq fnt-28 fnt-800">3.&nbsp;</h3>
      <div class="col-10 px-0">
        <h3 class="faq fnt-28 fnt-800 d-inline-block">What are the services that Lollypop provides?</h3>
        <p>We are a dedicated Research driven Experience Design Studio. To breakdown, we can help you with User Research, User Experience Design, User Interface Design, Interaction Design, User Testing, and Front End Development for the website, applications, web apps, wearables, or any other digital platform. Know more about our <a class="d-inline-block clr-second faq-link" href="#">process&nbsp;</a>
          <here></here>here
        </p>
      </div>
    </div>
  </li>
  <li class="faqs__item data-scroll">
    <div class="d-flex"> 
      <h3 class="faq fnt-28 fnt-800">4.&nbsp;</h3>
      <div class="col-10 px-0">
        <h3 class="faq fnt-28 fnt-800 d-inline-block">What are the best design studios in India? Why does Lollypop claim to be the Best UX UI Design Studio?</h3>
        <p>We have been ranked as the <a class="d-inline-block clr-second faq-link" href="#">‘Top UX/ UI Design Studio- Global’&nbsp;</a>continuously for the third year in a row, by Clutch; a third party reviewal platform based on our quality, expertise and client reviews. We also bagged the prestigious Design X Awards, 2018 and were announced as<a class="d-inline-block clr-second faq-link" href="#">‘India’s Best Design Studio’&nbsp;</a>by Usability Matters, the pioneering design community of India.</p>
      </div>
    </div>
  </li>
  <li class="faqs__item data-scroll">
    <div class="d-flex">
      <h3 class="faq fnt-28 fnt-800">5.&nbsp;</h3>
      <div class="col-10 px-0">
        <h3 class="faq fnt-28 fnt-800">What clients have you worked for?</h3>
        <p>Lollypop has been fortunate to work with a wide range of innovative ideas right from Startups to Fortune 500 companies. Here are a few brands; Paytm Money, Swiggy, Myntra, Stanford University, Asian Paints, Viacom 18, EY, Zee5. </p>
        <p> <a class="d-inline-block clr-second faq-link" href="#">Here&nbsp;</a>is a detail of the clients we have worked with.</p>
      </div>
    </div>
  </li>
</ul>