
<section> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12"> 
        <ul class="px-0 case-img-list row single-mb-slider">
          <li class="case-img-list__item col-12 col-md-4">
            <div class="case-std img-hvr"><img class="img" src="./img/services/c1.png"/>
              <div class="case-std__info">
                <h6 class="fnt-16 fnt-800 mb-1">Vodafone Idea</h6>
                <p class="fnt-14 mb-3">Design partner responible for all designing all digital touch points</p>
                <div class="mt-auto"> <a class="hvr-line clr-second fnt-14" href="#">View casestudy</a></div>
              </div>
            </div>
          </li>
          <li class="case-img-list__item col-12 col-md-4">
            <div class="case-std img-hvr"> <img class="img" src="./img/services/c1.png"/>
              <div class="case-std__info"> 
                <h6 class="fnt-16 fnt-800 mb-1">Paytm Money</h6>
                <p class="fnt-14 mb-3">Design partner responible for all designing all digital touch points</p>
                <div class="mt-auto"> <a class="hvr-line clr-second fnt-14" href="#">View casestudy</a></div>
              </div>
            </div>
          </li>
          <li class="case-img-list__item col-12 col-md-4">
            <div class="case-std img-hvr"> <img class="img" src="./img/services/c1.png"/>
              <div class="case-std__info">
                <h6 class="fnt-16 fnt-800 mb-1">Byjus</h6>
                <p class="fnt-14 mb-3">Design partner responible for all designing all digital touch points</p>
                <div class="mt-auto"> <a class="hvr-line clr-second fnt-14" href="#">View casestudy</a></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>