
<section class="sec-pd"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <div class="mb-4 pb-md-2 colmd-11 px-0">
          <h3 class="fnt-40 fnt-800 data-scroll">Before taking a deep dive into our services, let’s understand what our values are</h3>
          <p class="fnt-24 col-md-8 px-0 data-scroll">From startups to known brands we have many stories to tell</p>
        </div>
        <ul class="px-0 values-list row justify-content-between"> 
          <li class="values-list__item col-12 col-md-5 data-scroll"> 
            <h6 class="fnt-800 mb-1">Science and Emotions</h6>
            <p class="col-11 col-lg-10 px-0 mb-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
          </li>
          <li class="values-list__item col-12 col-md-5 data-scroll"> 
            <h6 class="fnt-800 mb-1">User Centeric</h6>
            <p class="col-11 col-lg-10 px-0 mb-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
          </li>
          <li class="values-list__item col-12 col-md-5 data-scroll"> 
            <h6 class="fnt-800 mb-1">Ethical Design</h6>
            <p class="col-11 col-lg-10 px-0 mb-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
          </li>
          <li class="values-list__item col-12 col-md-5 data-scroll"> 
            <h6 class="fnt-800 mb-1">Launch fast</h6>
            <p class="col-11 col-lg-10 px-0 mb-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>