
<section class="sec-pd pt-0"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <div class="mb-5"> 
          <h5 class="fnt-22 fnt-800 data-scroll col-md-5 px-0">Clients who trusted us with Research</h5>
        </div>
        <ul class="px-0 logo-list row">
          <li class="logo-list__item col-4 col-md-3"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
          <li class="logo-list__item col-4 col-md-3"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
          <li class="logo-list__item col-4 col-md-3"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
          <li class="logo-list__item col-4 col-md-3"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
          <li class="logo-list__item col-4 col-md-3"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
          <li class="logo-list__item col-4 col-md-3"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
          <li class="logo-list__item col-4 col-md-3"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
          <li class="logo-list__item col-4 col-md-3"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
        </ul><a class="hvr-line fnt-14 clr-second mt-5 d-inline-block" href="#">Learn more about our clients</a>
      </div>
    </div>
  </div>
</section>