
<div class="tab-div">
  <div class="mb-5 data-scroll">
    <p class="fnt-24 col-md-11 col-lg-10 px-0">We provide meaningful and actionable data-driven insights that represent the voice of the users and resonate with your business objectives.</p>
  </div>
  <ul class="px-0 common-list row justify-content-between"> 
    <li class="common-list__item col-12 col-md-5 data-scroll">
      <div class="d-flex flex-column h-100">
        <div>
          <h6 class="fnt-800 mb-1">User Research</h6>
          <p class="col-11 col-lg-10 px-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
        </div>
        <div class="mt-auto"> <a class="hvr-line clr-second text-capitalize" href="#">Learn More</a></div>
      </div>
    </li>
    <li class="common-list__item col-12 col-md-5 data-scroll">
      <div class="d-flex flex-column h-100">
        <div>
          <h6 class="fnt-800 mb-1">User Research</h6>
          <p class="col-11 col-lg-10 px-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
        </div>
        <div class="mt-auto"> <a class="hvr-line clr-second text-capitalize" href="#">Learn More</a></div>
      </div>
    </li>
    <li class="common-list__item col-12 col-md-5 data-scroll">
      <div class="d-flex flex-column h-100">
        <div>
          <h6 class="fnt-800 mb-1">User Research</h6>
          <p class="col-11 col-lg-10 px-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
        </div>
        <div class="mt-auto"> <a class="hvr-line clr-second text-capitalize" href="#">Learn More</a></div>
      </div>
    </li>
    <li class="common-list__item col-12 col-md-5 data-scroll">
      <div class="d-flex flex-column h-100">
        <div>
          <h6 class="fnt-800 mb-1">User Research</h6>
          <p class="col-11 col-lg-10 px-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
        </div>
        <div class="mt-auto"> <a class="hvr-line clr-second text-capitalize" href="#">Learn More</a></div>
      </div>
    </li>
    <li class="common-list__item col-12 col-md-5 data-scroll">
      <div class="d-flex flex-column h-100">
        <div>
          <h6 class="fnt-800 mb-1">User Research</h6>
          <p class="col-11 col-lg-10 px-0">We create solutions keeping focus on the users and their needs in each phase of the design process</p>
        </div>
        <div class="mt-auto"> <a class="hvr-line clr-second text-capitalize" href="#">Learn More</a></div>
      </div>
    </li>
  </ul>
</div>
<div class="tab-div">
  <div class="mb-5"> 
    <h5 class="fnt-22 fnt-800 data-scroll col-md-5 px-0">Clients who trusted us with Research</h5>
  </div>
  <ul class="px-0 logo-list row">
    <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
    <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/visa.svg"/></li>
    <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/paypal.svg"/></li>
    <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/master.svg"/></li>
    <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
    <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/robokassa.svg"/></li>
    <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/gpay.svg"/></li>
    <li class="logo-list__item col-4 col-md-3 data-scroll"><img class="img-fluid grayscale" src="./img/services/verified visa.svg"/></li>
  </ul><a class="data-scroll hvr-line fnt-14 clr-second mt-5 d-inline-block" href="#">Learn more about our clients</a>
</div>
<div class="tab-div"> 
  <div class="expert-member row data-scroll"> 
    <div class="col-12 col-md-4 mb-4 mb-md-0">
      <div class="expert-member__img text-center">
        <div class="reveal"><img class="img-fluid mb-2 pb-1" src="./img/services/member.png"/></div>
        <h6 class="fnt-22 fnt-800 clr-white mb-0">Priya Khanna</h6><span class="fnt-14 clr-white d-inline-block">Developer Lead</span>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="ps-md-4 ps-lg-5 expert-member__info">
        <h3 class="fnt-40 clr-white fnt-800 mb-2">Talk to our <span class="d-block">develop expert</span></h3>
        <p class="fnt-16 clr-white mb-4 pb-1">We have stories to share on our research impacted business and product.</p><a class="web-btn web-btn--primary text-capitalize fnt-800imp" href="#">Drop a line</a>
      </div>
    </div>
  </div>
</div>